
.bullseyeDoneButton {
    transition: transform .1s;
    transform: scale(1);
    background: transparent;
    position: absolute;
    top: 600px !important;
    right: 20px !important;
    box-shadow: rgba(128, 128, 128, .7) 3px;
    z-index: 1000;
}

    .bullseyeDoneButton:hover {
        transform: scale(1.2);
        color: lightgreen;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }

    .bullseyeDoneButton:active {
        transform: scale(.8);
        color: lightgreen;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }
/* bullseye */
.tap-target {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4em;
    height: 4em;
    padding: .5em;
    margin: 2em auto;
    border-radius: 100%;
    font-size: 1.125em;
    text-align: center;
    color: #fff;
    background-color: orangered;
    cursor: pointer;
    touch-action: none;
    transition: all 0.3s;
}

    .tap-target.switch-bg {
        background-color: #f40;
    }

    .tap-target.large {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
