#woInput {
    border: none;
    border-bottom: 1px solid lightblue;
    color: white;
    background-color: transparent;
    padding: 3px;
}

    #woInput:focus {
        outline: none;
    }

.transparentInput {
    border: none;
    border-bottom: 1px solid lightblue;
    color: white;
    background-color: transparent;
    padding: 3px;
}


#transparentInput:focus {
    outline: none;
}

#serialInput {
    border: none;
    border-bottom: 1px solid lightblue;
    color: white;
    background-color: transparent;
    padding: 3px;
}

    #serialInput:focus {
        outline: none;
    }


.doneButton {
    transition: transform .2s;
    transform: scale(1);
    background: transparent;
    position: absolute;
    top: 325px !important;
    right: 30px !important;
    box-shadow: rgba(128, 128, 128, .7) 3px;
    z-index: 1000;
}

    .doneButton:hover {
        transform: scale(1.2);
        color: lightgreen;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }

    .doneButton:active {
        transform: scale(.8);
        color: lightgreen;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }

.shopFloorLabel {
    color: darkorange;
    font-size:28px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.45px;
}
.shopFloorLabelSmall {
    color: darkorange;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.45px;
}

h1 {
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.45px;
}


.helpButton {
    transition: transform .2s;
    transform: scale(1);
    background: transparent;
    position: absolute;
    top: 222px !important;
    right: 10px !important;
    box-shadow: rgba(128, 128, 128, .7) 1px;
    z-index: 1000;
}

    .helpButton:hover {
        transform: scale(1.2);
        color: gold;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }

    .helpButton:active {
        transform: scale(.8);
        color: lightslategray;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }


.maintenanceButton {
    transition: transform .2s;
    transform: scale(1);
    background: transparent;
    position: absolute;
    top: 330px !important;
    right: 1px !important;
    box-shadow: rgba(128, 128, 128, .7) 1px;
    z-index: 1000;
}

    .maintenanceButton:hover {
        transform: scale(1.2);
        color: lightgray;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }

    .maintenanceButton:active {
        transform: scale(.8);
        color: lightslategray;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }


.holdButton {
    transition: transform .2s;
    transform: scale(1);
    background: transparent;
    position: absolute;
    top: 440px !important;
    right: 15px !important;
    box-shadow: rgba(128, 128, 128, .7) 1px;
    z-index: 1000;
}

    .holdButton:hover {
        transform: scale(1.2);
        color: lightgoldenrodyellow;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }

    .holdButton:active {
        transform: scale(.8);
        color: goldenrod;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }

.defectButton {
    transition: transform .2s;
    transform: scale(1);
    background: transparent;
    position: absolute;
    top: 555px !important;
    right: 17px !important;
    box-shadow: rgba(128, 128, 128, .7) 3px;
    z-index: 1000;
}

    .defectButton:hover {
        transform: scale(1.2);
        color: red;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }

    .defectButton:active {
        transform: scale(.8);
        color: red;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }


.refreshButton {
    transition: transform .2s;
    transform: scale(1);
    background: transparent;
    position: absolute;
    top: 670px !important;
    right: 19px !important;
    box-shadow: rgba(128, 128, 128, .7) 1px;
    z-index: 1000;
}

    .refreshButton:hover {
        transform: scale(1.2);
        color: lightblue;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }

    .refreshButton:active {
        transform: scale(.8);
        color: darkblue;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }

.closeButton {
    transition: transform .2s;
    transform: scale(1);
    background: transparent;
    position: absolute;
    top: 780px !important;
    right: 7px !important;
    box-shadow: rgba(128, 128, 128, .7) 1px;
    z-index: 1000;
}

    .closeButton:hover {
        transform: scale(1.2);
        color: lightgray;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }

    .closeButton:active {
        transform: scale(.8);
        color: lightslategray;
        box-shadow: rgba(128, 128, 128, .7) 5px;
    }


#bottomRow {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 1rem;
    z-index: 500;
}

.stationDescription {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
}

.shopFloorRow {
    margin-top: 35px;
}


.blinkingRed {
    animation: blinkingTextRed 2s infinite;
}


.blinkingGreen {
    animation: blinkingTextGreen 2s infinite;
}

@keyframes blinkingTextRed {
    0% {
        color: red;
    }

    50% {
        color: white;
    }
    100% {
        color: red;
    } 
}

@keyframes blinkingTextGreen {
    0% {
        color: springgreen;
    }

    50% {
        color: white;
    }
    100% {
        color: springgreen;
    } 
}

.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.slider {
    background-color: yellow;
    padding: 10px;
    clip: rect(0px 0px 448px 0px);
    position: absolute;
    width: 1024px;
    transition-property: all;
    transition-duration: 1s;
}

.slideContainer {
    /*width: 90%;*/
    height: 150px;
    overflow: hidden
}

    .slideContainer:hover > div {
        clip: rect(0px 448px 40px 0px)
    }
