/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/

/* nord polar night https://github.com/arcticicestudio/nord */
/*darkest  2e3440 */
/*dark  2e3440 */
/*medium  2e3440 */
/*lightest  2e3440 */

@font-face {
    font-family: 'dinnextw01-regular';
    src: url('../fonts/DIN-Next-Pro/DINNextW01-Regular.woff2') format('woff2');
}

html, body {
    font-family: 'dinnextw01-regular' !important;
    color: white;
} 


/* BARCODES BEGIN */

@font-face {
    font-family: 'free3of9';
    src: url('../fonts/barcode39.woff') format('woff');
}

hr {
    border: 1px solid rgba(255,255,255,.4);
}
 

#topBar {
    padding: 0px;
    margin: -15px;
    /*filter: invert(100%);*/
    /*background-image: url('/img/carbon7dollars.jpg');*/
    /*border: 3px solid rgba(0,0,0,.5);*/
    /*border-radius: 0px 0px 90px 0px;*/
    /*box-shadow: 0 0 25px rgba(0,0,0,0.8);*/
}

.tableVerticalCentered > tbody > tr > td {
    vertical-align: middle !important;
}

.barcode {
    font-family: free3of9;
    font-size: large;
    text-transform: uppercase;
}

/* BARCODES END*/

.centeredOnScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

/* RIPPLE BEGIN */
.ripple {
    background-position: center;
    transition: background 0.8s;
}

    .ripple:hover {
        background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
    }

    .ripple:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background 0s;
    }
/* RIPPLE END */

/* RIPPLE BEGIN */
.rippleSlow {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
    transition: background 3s;
}
/* RIPPLE END */

.boxshadow {
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 20px;
    background: white;
}

.boxshadowDeep {
    position: relative;
    box-shadow: 6px 12px 4px rgba(0, 0, 0, .5);
    padding: 20px;
    background: white;
}

/* GLOBAL OVERSIGHT BEGIN */
.roundCorners {
    border-radius: 12px;
    padding: 20px;
    margin: 5px;
}


.transparentBlue {
    background-color: rgba(0, 120, 180, .2);
    border: 2px solid rgb(6, 50, 100);
}

.transparentRed {
    background-color: rgba(254, 0, 8, 0.58);
    border: 2px solid rgb(254, 0, 0);
}
/*background shimmer*/
.shimmer {
    /*background: -moz-linear-gradient(left, rgba(224,239,249,1) 0%, rgba(216,225,231,0.65) 50%, rgba(181,198,208,0.45) 79%, rgba(242,246,248,0.3) 100%);*/
    /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,239,249,1)), color-stop(50%, rgba(216,225,231,0.65)), color-stop(79%, rgba(181,198,208,0.45)), color-stop(100%, rgba(242,246,248,0.3)));*/
    background: rgb(0,120,180);
    background: linear-gradient(0deg, rgba(0,120,180,0.02) 15%, rgba(2,0,36,1) 15%, rgba(0,212,255,1) 100%);
}

.selectedCell {
    /*background: #1e7ad4;*/
    background-color: rgba(0, 120, 180, .2);
}
/* GLOBAL OVERSIGHT END */

.glossy:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .1)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
}

.activeGlowDot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 60px 30px #fff, /* inner white */
    0 0 100px 60px #f0f, /* middle magenta */
    0 0 140px 90px #0ff; /* outer cyan */
    -webkit-user-drag: element;
}


a {
    color: white;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a {
            margin-left: 1.5rem;
        }

.sidebar {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
}

    .sidebar .top-row {
        /*background-color: rgba(0,0,0,0.4);*/
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

li.nav-item:hover {
    background-color: rgba(255,255,255,0.1);
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    /*//shimmer*/
    /*display: inline-block;
            color: white;*/
    background: #acacac -webkit-gradient(linear, 100% 0, 0 0, from(#acacac), color-stop(0.5, #ffffff), to(#acacac));
    background-position: -4rem top; /*50px*/
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: shimmer;
    -webkit-animation-duration: 2.2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -4rem top; /*50px*/
    }

    70% {
        background-position: 12.5rem top; /*200px*/
    }

    100% {
        background-position: 12.5rem top; /*200px*/
    }
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: sub;
}

a {
    text-decoration: none;
    color: #d6d5d5;
    transition: color .3s ease;
}

    a:hover {
        color: #fff;
    }

body {
    /*background: #f9f9f9;*/
    /*background-image: linear-gradient(180deg, rgb(4, 23, 60) 0%, #020717 70%);*/
    /*background: rgb(27,84,133);
    background: linear-gradient(0deg, rgba(27,84,133,1) 0%, rgba(0,0,0,1) 100%) no-repeat;*/
    /*background: rgb(20,27,117);*/
    background: radial-gradient(circle, rgba(0,0,50,.4) 0%, rgba(0,0,10,.4) 100%),  url('../img/aluminum-darkblue.jpg');
    /*background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);*/
    /*background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);*/
    /*background-image: linear-gradient( 180.4deg, rgba(9,30,61,1) 45.3%, rgba(95,123,190,1) 279% );*/
    background-size: cover;
    /*overflow-y: hidden;*/
    overflow-x: hidden;
}

hr {
    margin: 8px;
}