﻿@inherits LayoutComponentBase;
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Components;
@using System.Net.Http;
@using System.Threading.Tasks;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Threading;

<link href="/css/shopfloor.css" rel="stylesheet" />

<div class="main" id="mainWindow">
    <div class="row">
        <div class="col text-left">
            <img src="img/tm_white_transparent_cropped.png" style="margin-top:10px;" width="192" height="78" />
        </div>
        <div class="col text-right" style="margin:20px;">
            @*@if (CurrentUser == null)
                {
                <span class="p-2 m-2" @onclick="@(() => ShowLoginWindow())" title="Click to login"><i class="fas fa-user-alt-slash text-danger"></i>&nbsp;Login</span>
                }
                else
                {
                <span class="p-2 m-2"><i class="fas fa-user-alt text-primary" @onclick="@(() => Logout())" title="Click to logout"></i> @CurrentUser.Name <span class="badge badge-dark">@CurrentUser.Role</span></span>
                }

                <span @onclick="@ToggleAutoRefresh" class="p-2 m-2  badge @(AutoRefresh ? "badge-light" : "badge-dark")">
                    <i class="fas fa-sync-alt @(AutoRefresh ? "text-dark " : "text-light ") @(IsRefreshing ? "fa-spin" : "")"></i>
                    @(AutoRefresh ? " Auto Refresh Enabled" : " Auto Refresh Disabled")
                </span>*@

            <small class="p-2 m-2"></small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Body
        </div>
    </div>
</div>