﻿@inherits LayoutComponentBase;
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime JSRuntime
@inject Toolbelt.Blazor.I18nText.I18nText _localizer;
@inject IConfiguration _configuration;

@using Microsoft.Extensions.Configuration;
@using System.Threading.Tasks;
@using System.Threading;
@using System;
@using TMGA.Shared.ViewModels;

<div class="container-fluid m-0">
    <div class="row" id="topBar">
        <div class="col text-left">
            <a class="navbar-brand" href="">
                <img src="img/tm_white_transparent_cropped.png" style="margin:10px 0px 0px -20px;" width="192" height="78" />
            </a>
        </div>
        <div class="col text-right" style="margin-top:25px;">
            @if (CurrentUser == null)
            {
                <span class="p-2 m-2" title="Click to login"><i class="fas fa-user-alt-slash text-danger"></i>&nbsp;@L.Login</span>
            }
            else
            {
                <span class="p-2 m-2"><i class="fas fa-user-alt text-primary"></i> @CurrentUser.Name <span class="badge badge-dark">@CurrentUser.Role</span> <a href="/" class="btn btn-sm text-white" @onclick="@(() => Logout())" title="Click to logout">@L.Logout</a></span>
            }

            @*<span @onclick="@ToggleAutoRefresh" class="p-2 m-2  badge @(AutoRefresh ? " badge-light" : "badge-dark" )">
                    <i class="fas fa-sync-alt @(AutoRefresh ? " text-dark " : " text-light ") @(IsRefreshing ? " fa-spin" : "" )"></i>
                    @(AutoRefresh ? " Auto Refresh Enabled" : " Auto Refresh Disabled")
                </span>*@
            @*<small class="p-2 m-2">
                @CurrentTime @currentCulture
            </small>*@
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 text-left">
            <div class="sidebar">
                <NavMenu />
            </div>
        </div>

        <div class="col-lg-10">
            <div class="main text-center" id="mainWindow" style="padding-left:0px;">
                @Body
            </div>
        </div>
    </div>
</div>

@code  {

    public string CurrentTime { get; set; }
    public Timer CurrentTimeTimer { get; set; }
    public UserViewModel CurrentUser { get; set; }
    public string currentCulture { get; set; }

    public I18nText.Resources L { get; set; } = new I18nText.Resources();


    protected override async Task OnInitializedAsync()
    {

        //CurrentTimeTimer = new Timer((_) =>
        //{
        //    CurrentTime = DateTime.Now.ToLocalTime().ToString();
        //    InvokeAsync(StateHasChanged);
        //}, null, 0, 1000);

        L = await _localizer.GetTextTableAsync<I18nText.Resources>(this);

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            CurrentUser = await localStorage.GetItemAsync<UserViewModel>("currentUser");
            currentCulture = await JSRuntime.InvokeAsync<string>("getCulture");
        }
    }

    public async Task<string> Logout()
    {
        await localStorage.SetItemAsync("currentUser", "");
        //TODO; make api call to logout
        NavigationManager.NavigateTo("/");
        return "";
    }

}