@inject Toolbelt.Blazor.I18nText.I18nText _localizer;
@*<div class="top-row pl-4 navbar">
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>*@

<div class="NavMenuCssClass" @onclick="ToggleNavMenu" style="margin-top:20px;">
    <ul class="nav flex-column"> 
        <li class="nav-item">
            <NavLink class="nav-link" href="Admin" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <h2>@L.Waves</h2>
            </NavLink>
        </li>
   
        <li class="nav-item">
            <NavLink class="nav-link" href="GlobalOversight">
                <span class="oi oi-list-rich" aria-hidden="true"></span><h2>@L.Global</h2>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Search">
                <span class="oi oi-list-rich" aria-hidden="true"></span><h2>@L.Search</h2>
            </NavLink>
        </li> 
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public I18nText.Resources L { get; set; } = new I18nText.Resources();

    protected override async Task OnInitializedAsync()
    {

        L = await _localizer.GetTextTableAsync<I18nText.Resources>(this);


    }


    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

    }
}