﻿@using TMGA.Domain.Models.Intercept;

@if (WorkOrder != null)
{

    <div class="row shopFloorRow">
        @if (!String.IsNullOrEmpty(WorkOrder.ClubName()))
        {
        <div class="col">
            <ClubInformationComponent></ClubInformationComponent>
        </div>
        }

        @if (!String.IsNullOrEmpty(WorkOrder.Shaft().ComponentDescription))
        {
        <div class="col">
            <h3 class="shopFloorLabel">@_localizer.ShaftType</h3>
            <h1>@WorkOrder.Shaft().ComponentDescription</h1>
        </div>
        }
    </div>

    <div class="row shopFloorRow">
        <div class="col">
            <h3 class="shopFloorLabel">@_localizer.LieLoft</h3>
            <h1>@WorkOrder.GetLie() / @WorkOrder.GetLoft()</h1>
        </div>
        @if (!String.IsNullOrEmpty(WorkOrder.GetHeadRange()))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.HeadRange</h3>
                <h1>@WorkOrder.GetHeadRange()</h1>
            </div>
        }
    </div>
    <div class="row shopFloorRow">
        <div class="col">
            <h3 class="shopFloorLabel">@_localizer.ClubCount</h3>
            <h1>@WorkOrder.ClubCount()</h1>
        </div>

        <div class="col">

        </div>

    </div>

}