@page "/ShopFloor/BullseyeDefect"

<link href="~/css/bullseyeDefect.css" rel="stylesheet" />

<div class="row">
    <div class="col text-center">
        <h3>Place the orange dot on the estimated breakage point</h3>
        <span id="distanceLabel" hidden>&nbsp; </span>&nbsp; <span id="xPosition">&nbsp; </span> <span id="yPosition">&nbsp; </span>
        <div style="height:50em;width:55em;margin:-10em auto 0 auto">
            <div class="tap-target" style="top:15em;left:15em;clip-path:circle()"><i class="fas fa-bullseye fa-3x"></i></div>
            <svg id="bullseye" viewBox="-75 -60 150 150" xmlns="http://www.w3.org/2000/svg">
                <g fill="transparent" stroke="grey" stroke-width="5">
                    <circle cx="0" cy="0" r="5" />
                </g>
                <g fill="transparent" stroke="grey" stroke-width="5">
                    <circle cx="0" cy="0" r="15" />
                </g>
                <g fill="transparent" stroke="grey" stroke-width="5">
                    <circle cx="0" cy="0" r="25" />
                </g>
                <g fill="transparent" stroke="grey" stroke-width="5">
                    <circle cx="0" cy="0" r="35" />
                </g>
                <g fill="transparent" stroke="grey" stroke-width="5">
                    <circle cx="0" cy="0" r="45" />
                </g>
                <g fill="transparent" stroke="grey" stroke-width="5">
                    <circle id="bigCircle" cx="0" cy="0" r="55" />
                </g>
            </svg>

            <h3 style="top:10px;right:20px;position:absolute;" class="defectScreenOptionSmall" @onclick="@OnClickCancel">Cancel</h3>
            @if (BullseyeX != null && BullseyeY != null)
            {
                <div class="text-center bullseyeDoneButton" @onclick="@CreateDefectWithBending">
                    <i class="fas fa-check-circle fa-3x dropShadowText text-success"></i>
                    <h3 style="margin-top:7px;">Log Defect</h3>
                </div>
            }
        </div>
    </div>
</div>

<script suppress-error="BL9992">
    function dragMoveListener(event) {
        var target = event.target;
        // keep the dragged position in the data-x/data-y attributes
        var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx;
        var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

        // translate the element
        target.style.webkitTransform =
            target.style.transform =
            'translate(' + x + 'px, ' + y + 'px)';

        // update the posiion attributes
        target.setAttribute('data-x', x);
        target.setAttribute('data-y', y);

        var xx = document.getElementById('xPosition');
        xx.textContent = x;
        var yy = document.getElementById('yPosition');
        yy.textContent = y;

    };

    interact('.tap-target')
        .draggable({
            inertia: false,
            modifiers: [
                interact.modifiers.restrictRect({
                    restriction: document.getElementById('bigCircle'),
                    endOnly: true,
                    elementRect: { top: 0, left: 0, bottom: 0, right: 0 }
                })
            ],
            autoScroll: false,
            onmove: dragMoveListener,
            onend: function (event) {
                var textEl = document.getElementById('distanceLabel');//event.target.querySelector('p');
                textEl && (textEl.textContent =
                    'Moved a distance of ' +
                    (Math.sqrt(Math.pow(event.pageX - event.x0, 2) +
                        Math.pow(event.pageY - event.y0, 2) | 0))
                        .toFixed(2) + 'px');
            }
        });
    window.dragMoveListener = dragMoveListener;
</script>
