﻿@if (WorkOrder != null || WorkOrders != null)
{
    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "EN")
    {
        <div class="m-0 text-center closeButton" @onclick=RedirectToLogin>
            <i class="fas fa-power-off fa-2x"></i>
            <h5 style="margin-top:7px;">@_localizer.Close</h5>
        </div>
    }
    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "JA")
    {
        <div class="m-0 text-center closeButton" @onclick=RedirectToLogin>
            <i class="fas fa-power-off fa-2x"></i>
            <h5 style="margin-top:7px;">@_localizer.Close</h5>
        </div>
    }
}