﻿@using TMGA.Domain.Models.Intercept;

<h3 class="shopFloorLabel" style="display:inline;">@_localizer.ClubModel</h3>
<h3 class="shopFloorLabel" style="display:inline;color:white;padding-left: @(_configuration["CULTURE_OVERRIDE"]=="ja" ? "350px" : "315px;")">@WorkOrder?.SKUs?.First().Sku</h3>
<h1>@WorkOrder.ClubName()</h1>
@foreach (var subSku in WorkOrder?.SKUs?.SelectMany(_ => _.SubSKUs).ToList())
{
    <div class="row">
        <div class="col">
            <h5>@subSku?.Components?.Where(_ => _.ComponentType == "HEAD")?.FirstOrDefault().ComponentDescription</h5>
        </div>
    </div>
}