﻿@if (WorkOrder != null || WorkOrders != null)
{

    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "EN")
    {
        <div class="m-0 text-center defectButton" @onclick="@(() => OpenModal())">
            <i class="fas fa-unlink fa-2x"></i>
            <h5 style="margin-top:7px;">@_localizer.Defect</h5>
        </div>
    }
    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "JA")
    {
        <div class="m-0 text-center defectButton"   @onclick="@(() => OpenModal())">
            <i class="fas fa-unlink fa-2x"></i>
            <h5 style="margin-top:7px;">@_localizer.Defect</h5>
        </div>
    }


    @if (IsOpen)
    {
        <DefectModal OnOpen=ModalOpened OnClose=ModalClosed></DefectModal>
    }
}
