﻿@using TMGA.Shared.ViewModels;
@using TMGA.Domain.Models.Intercept;

    <link href="~/css/defect.css" rel="stylesheet" />

<style>
    #defectModalContainer {
        height: 72%;
        width: 60%;
        top: 15%;
        left: 20%;
        position: fixed;
        /*background-color: rgba(235, 0, 0, .7);*/
        background-image: radial-gradient( circle farthest-corner at 3.1% 6.8%, rgba(199,0,59,1) 0%, rgba(255,88,53,1) 97.7% );
        z-index: 5000;
        align-content: center;
        align-items: center;
        border: 4px groove red;
    }


    .bendingGridSquare {
        height: 25px !important;
        width: 25px !important;
        margin: -1px;
        border: 1px solid white;
        display: inline-block;
    }

    .bendingGridCircle {
        position: absolute;
        margin-left: 15px;
        margin-top: 15px;
    }

    .negMargin {
        margin: -4px -4px -4px -4px;
    }

    .centerAxisY {
        border-left: 2px solid lightgreen;
    }

    .centerAxisX {
        border-bottom: 2px solid lightgreen;
    }

    .defectScreenOptionLarge {
        transition: font-size linear .1s;
        padding: 10px 0px 10px 0px;
    }

    .defectScreenOptionSmall {
        transition: font-size linear .1s;
        padding: 10px 0px 10px 0px;
    }


    .defectScreenOptionLarge:hover {
        /*hover on*/
        font-size: 2.0em;
        transition: font-size linear .1s;
    }


    .defectScreenOptionSmall:hover {
        /*hover on*/
        font-size: 1.9em;
        transition: font-size linear .1s;
    }

    .selectedDefectWindowOptions {
        font-size: 2.2em; 
        /*color: #15B332;*/
        border-radius: 12px;
        border: 2px solid white;
    }

    .defectDoneButton {
        transition: transform .1s;
        transform: scale(1);
        background: transparent;
        position: absolute;
        top: 230px !important;
        right: 20px !important;
        box-shadow: rgba(128, 128, 128, .7) 3px;
        z-index: 1000;
    }

        .defectDoneButton:hover {
            transform: scale(1.2);
            color: lightgreen;
            box-shadow: rgba(128, 128, 128, .7) 5px;
        }

        .defectDoneButton:active {
            transform: scale(.8);
            color: lightgreen;
            box-shadow: rgba(128, 128, 128, .7) 5px;
        }

</style>

 
<div id="defectModalContainer" class="roundCorners scale-in-center"> 
    <div class="row">
        @if (screenOneVisible)
        {
            <div class="col">
                <h1>Station</h1>
                <hr />

                @if (Cells.Count > 0)
                {
                    @foreach (var station in Cells?.Where(_ => _.Id == Station.Cell.Id).First()?.Stations.OrderBy(_ => _.StationOrder)) // _companies is List<Company> Company object contain Id and name
                    {
                        <h4 @onclick="@(() => SetStation(station.Id, station.StationTypeTemp))" class="@(station.Id == currentlySelectedStationId ? "selectedDefectWindowOptions" : "defectScreenOptionSmall")">@_localizer[station?.StationTypeTemp.Replace("/", "").Replace(" ", "")]</h4>
                    }
                }
            </div>

            <div class="col">
                <h1>Defect Reason</h1>
                <hr />
                @foreach (var reason in EligibleDefects)
                {
                    <h4 class="defectScreenOptionSmall @(defectReason == reason ? "selectedDefectWindowOptions" : "")" @onclick="@(() => SetDefectReason(reason))">@reason.DefectReason.Description</h4>
                }

                <h3 style="top:10px;right:20px;position:absolute;" class="defectScreenOptionSmall" @onclick="@CloseWindow">Cancel</h3>
            </div>
        } @*end screen one*@

        @if (screenTwoVisible)
        {
            <div class="col">
                @if (WorkOrder != null)
                {
                    var components = WorkOrder.SKUs.SelectMany(sku => sku.SubSKUs.SelectMany(subSku => subSku.Components.ToList()));

                    <h1>Select Component</h1>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <h3>Head</h3>
                            @foreach (var component in components.Where(_ => _.ComponentType == "HEAD"))
                            {
                                <h4 @onclick="@(() => SetDefectiveComponent(component))" class="defectScreenOptionSmall @(component.ComponentSku == DefectiveComponent?.ComponentSku ? "selectedDefectWindowOptions" : "")">@component.ComponentDescription</h4>
                            }
                        </div>

                        <div class="col">
                            <h3>Shaft</h3>
                            @foreach (var component in components.Where(_ => _.ComponentType == "SHAFT"))
                            {
                                <h4 @onclick="@(() => SetDefectiveComponent(component))" class="defectScreenOptionSmall @(component.ComponentSku == DefectiveComponent?.ComponentSku ? "selectedDefectWindowOptions" : "")">@component.ComponentDescription</h4>
                            }
                        </div>

                        <div class="col">
                            <h3>Grip</h3>
                            @foreach (var component in components.Where(_ => _.ComponentType == "GRIP"))
                            {
                                <h4 @onclick="@(() => SetDefectiveComponent(component))" class="defectScreenOptionSmall @(component.ComponentSku == DefectiveComponent?.ComponentSku ? "selectedDefectWindowOptions" : "")">@component.ComponentDescription</h4>
                            }
                        </div>
                        <h3 style="top:10px;right:20px;position:absolute;" class="defectScreenOptionSmall" @onclick="@CloseWindow">Cancel</h3>
                    </div>
                }
            </div>
        }

        @if (screenThreeVisible)
        {
            <div class="col">
                <h1>Quantity</h1>
                <hr />
                <h1>
                    <i class="fas fa-arrow-left text-white defectScreenOptionSmall" @onclick="@DecrementQuantity" style="margin-right:20px"></i>
                    <span>@quantityAffected</span>
                    <i class="fas fa-arrow-right text-white defectScreenOptionSmall" @onclick="@IncrementQuantity" style="margin-left:20px"></i>
                </h1>
                <hr />
                <h4>@DefectiveComponent.ComponentType</h4>
                <h4>@DefectiveComponent.ComponentDescription</h4>
                <h4>@DefectiveComponent.ComponentSku</h4>
                <h4>@defectReason.DefectReason.Description</h4>
            </div>
            <div class="col">
                <h1>Action</h1>
                <hr />
                <h4 @onclick="@(() => SetWriteOffOrRepair("Write Off"))" class="defectScreenOptionSmall @(WriteOffOrRepair == "Write Off" ? "selectedDefectWindowOptions" : "")">Write Off</h4>
                <h4 @onclick="@(() => SetWriteOffOrRepair("Repair"))" class="defectScreenOptionSmall @(WriteOffOrRepair == "Repair" ? "selectedDefectWindowOptions" : "")">Repair</h4>
            </div>
            <div class="col">
                <div class="text-center">
                    @if (quantityAffected > 0 && !String.IsNullOrEmpty(WriteOffOrRepair))
                    {
                        <div class="text-center defectDoneButton" style="bottom:30px;position:absolute;right:25px;" @onclick="(() => CreateDefect())">
                            <i class="fas fa-check-circle fa-3x dropShadowText text-success"></i>
                            <h3>Log Defect</h3>
                        </div>
                    }
                    <h3 style="top:10px;right:20px;position:absolute;" class="defectScreenOptionSmall" @onclick="@CloseWindow">Cancel</h3>
                </div>
            </div>

                }

                @if (screenFourVisible)
                {
                    <div class="col">
                        Screen Four
                    </div>
                    <div class="col">

                    </div>
                }

                @if (defectReason != null)
                {
                    @if (defectReason.DefectReason.Description.ToLower().Contains("hosel"))
                    {
                        <div class="col">
                            <CascadingValue Value="WorkOrder" Name="WorkOrder">
                                <CascadingValue Value="@defectReason" Name="DefectReason">
                                    <BullseyeDefect OnClickCancel="@OnClickCancel" OnResetScreen="OnClose"></BullseyeDefect>
                                </CascadingValue>
                            </CascadingValue>
                        </div>
                    }
                }
            </div>

        </div>
 
