﻿<style>
    .extendedClubInfoButton {
        display:inline;
        padding:10px;
    }
</style>

 
@if (WorkOrder != null || WorkOrders != null)
{

    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "EN")
    { 
        <div class="m-0 text-center extendedClubInfoButton" @onclick="@(() => OpenModal())">
            <i class="fas fa-info-circle"></i> 
        </div>
    }
    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "JA")
    { 
        <div class="m-0 text-center extendedClubInfoButton" style="right:35px !important;" @onclick="@(() => OpenModal())">
            <i class="fas fa-info-circle"></i> 
        </div>
    } 

    if (IsOpen)
    {
        <ExtendedClubInfoModal OnOpen=ModalOpened OnClose=ModalClosed></ExtendedClubInfoModal>
    }
}