﻿<style>
    #extendedClubInfoModalContainer {
        height: 95%;
        width: 95%;
        top: 2%;
        left: 2%;
        position: fixed;
        /*background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);*/
        background: radial-gradient(circle, rgba(0,0,50,.4) 0%, rgba(0,0,10,.4) 100%), url('../img/aluminum-darkblue.jpg');
        /*background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);*/
        /*background-color: rgba(255,215,0, .7);*/
        z-index: 5000;
        align-content: center;
        align-items: center;
        border: 4px solid #757390f5;
    }
</style>

<div id="extendedClubInfoModalContainer" class="roundCorners @(isClosing ? "scale-out-center" : "scale-in-center")" @onclick="@CloseWindow">
    <div class="row">
        <div class="col-sm-3">
            <h3 class="shopFloorLabel">@_localizer.Description</h3>
        </div>
        <div class="col-sm-2">
            @_localizer.Head
        </div>
        <div class="col-sm-1">
            <h3 class="shopFloorLabel">SKU</h3>
        </div>
        <div class="col-sm-2">
            <h3 class="shopFloorLabel">@_localizer.Length</h3>
        </div>
        <div class="col-sm-2">
            <h3 class="shopFloorLabel">Sw. Range</h3>
        </div>
        <div class="col-sm-1">
            <h3 class="shopFloorLabel">Sw. Type</h3>
        </div>
        <div class="col-sm-1">
            <h3 class="shopFloorLabel">@_localizer.LieAngle</h3>
        </div>

    </div>

    @foreach (var subSku in WorkOrder?.SKUs?.SelectMany(_ => _.SubSKUs).ToList())
    {
<div class="row">
    <div class="col-sm-3">
        <h3>@subSku.SubskuDescription</h3>
    </div>
    <div class="col-sm-2">
        <h3>@subSku?.Components?.Where(_ => _.ComponentType == "HEAD")?.FirstOrDefault().ComponentDescription</h3>

    </div>
    <div class="col-sm-1">
        <h3>@subSku.SubskuSku</h3>
    </div>
    <div class="col-sm-2">
        @*<h5>@Math.Round((decimal?)subSku.FinalClubLength ?? 0 / (decimal)25.4, 2) in</h5>*@
        <h5>@Math.Round(subSku.FinalClubLength ?? 0, 2) in / @Math.Round(((subSku.FinalClubLength ?? 0) * (decimal)25.4), 0) mm</h5>
    </div>
    <div class="col-sm-2">
        <h3>@subSku.SwRange</h3>
    </div>
    <div class="col-sm-1">
        <h3>@subSku.SwingweightCode</h3>
    </div>
    <div class="col-sm-1">
        <h3>@subSku.LieAngle</h3>
    </div>
</div> 
    }
</div>

