﻿@using TMGA.Domain.Models.Intercept;

<style>
    #allClubLengths {
        position: absolute;
        left: 525px;
        top: 200px;
        width: 217px;
        height: 350px;
        border: 1px solid red;
    }
</style>

@if (WorkOrder != null)
{
    @*<div id="allClubLengths"></div>*@

    <div class="row shopFloorRow">


        @if (WorkOrder.Head() != null)
        {
            @if (!String.IsNullOrEmpty(WorkOrder.Head().ComponentDescription))
            {
                <div class="col">
                    <div class="container-fluid">
                        <div class="row">
                            <h3 class="shopFloorLabel" style="display:inline;">@_localizer.Head</h3>
                            <h3 class="shopFloorLabel" style="display:inline;padding-left: @(_configuration["CULTURE_OVERRIDE"]=="ja" ? "350px" : "315px")">@WorkOrder?.Head()?.ComponentSku</h3>

                        </div>
                        <div class="row">
                            @if (WorkOrder.Head().ComponentDescription.Contains("#"))
                            {
                                <h1>
                                    @WorkOrder.Head().ComponentDescription.Split("#")[0] <ExtendedClubInfoButton></ExtendedClubInfoButton>
                                </h1>
                            }
                            else
                            {
                                <h1>
                                    @WorkOrder.Head().ComponentDescription <ExtendedClubInfoButton></ExtendedClubInfoButton>
                                </h1>
                            }
                        </div>


                    </div>
                    <div class="row">

                        @if (WorkOrder.Head() != null)
                        {
                            @if (WorkOrder.Head().ComponentSku != null)
                            {
                                <div class="col">
                                    <ZoomableImage Sku="@WorkOrder.Head().ComponentSku" ComponentType="head" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>
                                </div>
                            }
                        }

                    </div>
                </div>
            }

            @if (!String.IsNullOrEmpty(WorkOrder.ClubName()))
            {
                <div class="col">
                    <ClubInformationComponent></ClubInformationComponent>
                </div>
            }


        }

    </div>

    <div class="row shopFloorRow">
        @if (!String.IsNullOrEmpty(WorkOrder.Shaft().ComponentDescription))
        {
            <div class="col">
                <h3 class="shopFloorLabel" style="display:inline;">@_localizer.Shaft</h3>
                <h3 class="shopFloorLabel" style="display:inline;padding-left: @(_configuration["CULTURE_OVERRIDE"]=="ja" ? "350px" : "315px")">@WorkOrder?.Shaft()?.ComponentSku</h3>
                <h1>@WorkOrder.Shaft().ComponentDescription</h1>
            </div>
        }

        @if (!String.IsNullOrEmpty(WorkOrder.ClubCount().ToString()))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.ClubCount</h3>
                <h1>
                    @WorkOrder.ClubCount()

                    @if (WorkOrder.ClubCount() > 1)
                    {
                        <ExtendedClubInfoButton></ExtendedClubInfoButton>
                    }
                </h1>
            </div>
        }


    </div>

    <div class="row shopFloorRow">
        @if (WorkOrder.Shaft().ComponentSku != null)
        {
            <div class="col">
                <ZoomableImage Sku="@WorkOrder.Shaft().ComponentSku" ComponentType="shaft" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>
            </div>
        }

        @if (!String.IsNullOrEmpty(WorkOrder.GetGripLogoOrientation()))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.LogoOrientation</h3>
                <h1>@_localizer[WorkOrder.GetGripLogoOrientation()]</h1>
            </div>
        }

    </div>

    <div class="row shopFloorRow">
        @if (!String.IsNullOrEmpty(WorkOrder.Grip().ComponentDescription))
        {
            <div class="col">
                <GripDescriptionComponent></GripDescriptionComponent>
            </div>
        }



        <div class="col">
            <h3 class="shopFloorLabel">@_localizer.LieLoft</h3>
            <h1>@WorkOrder.GetLie() / @WorkOrder.GetLoft()</h1>
        </div>

    </div>

    <div class="row shopFloorRow">
        @if (WorkOrder.Grip().ComponentSku != null)
        {
            <div class="col">
                <ZoomableImage Sku="@WorkOrder.Grip().ComponentSku" ComponentType="grip" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>
            </div>
        }

        @if (WorkOrder.FCT != null && !WorkOrder.FCT.StartsWith("#7"))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.FCT</h3>
                <h1>@WorkOrder.FCT</h1>
            </div>
        }
        else
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.FCT</h3>
                <h1>Standard</h1>
            </div>
        }
    </div>

    <div class="row shopFloorRow">
        @if (WorkOrder.SKUs.Any() && !String.IsNullOrEmpty(WorkOrder?.SKUs?.FirstOrDefault()?.SubSKUs?.FirstOrDefault().SwingweightCode))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.SwingWeight</h3>
                <h1>@WorkOrder?.SKUs?.FirstOrDefault()?.SubSKUs?.FirstOrDefault().SwingweightCode</h1>
            </div>
        }

        @*@if (!String.IsNullOrEmpty(WorkOrder.GetHeadRange()))
                {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.HeadRange</h3>
                <h1>@WorkOrder.GetHeadRange()</h1>
            </div>
                }*@

        @if (WorkOrder.SKUs.Any())
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.FinalClubLength</h3>
                <h1>@Math.Round(WorkOrder?.SKUs?.FirstOrDefault()?.SubSKUs?.FirstOrDefault().FinalClubLength ?? 0,2) in</h1>
            </div>
        }
    </div>

    <div class="row shopFloorRow">
        @if (WorkOrder.SKUs.Any() && !String.IsNullOrEmpty(WorkOrder?.SKUs?.FirstOrDefault()?.SubSKUs?.FirstOrDefault().COO))
        {
            <div class="col">
                <h3 class="shopFloorLabel">Country of Origin</h3>
                <h1>@WorkOrder.SKUs.Select(_ => _.COO).FirstOrDefault()</h1>
            </div>
        }
        @if (!String.IsNullOrEmpty(WorkOrder.SevenIronLength().ToString()))
        {
            @*<div class="col">
                    @if (WorkOrder.SevenIronLength() != null)
                    {

                        @if (_configuration["UNITS"] == "Imperial")
                        {
                            <h1>@WorkOrder.SevenIronLength() > 1000 ?  @(Math.Round((WorkOrder.SevenIronLength() ?? 0) * (decimal)25.4, 0)) mm : @WorkOrder.SevenIronLength()</h1>
                        }
                        else
                        {
                            <h1>@WorkOrder.SevenIronLength() > 1000 ? @WorkOrder.SevenIronLength() : @(Math.Round((WorkOrder.SevenIronLength() ?? 0) * (decimal)25.4, 0)) mm</h1>
                        }
                    }
                    else
                    {
                        <h1>See Butt Length</h1>
                    }
                    <h3 class="shopFloorLabel">#7 Length</h3>
                </div>*@
        }
    </div>
}


