﻿@using TMGA.Domain.Models.Intercept;

@if (WorkOrder != null)
{
    <div class="row shopFloorRow">
        @if (!String.IsNullOrEmpty(WorkOrder.ClubName()))
        {
        <div class="col">
            <ClubInformationComponent></ClubInformationComponent>
        </div>
        }

        @if (!String.IsNullOrEmpty(WorkOrder.Grip().ComponentDescription))
        {
        <div class="col">
           <GripDescriptionComponent></GripDescriptionComponent>
        </div>
        }
    </div>

<div class="row shopFloorRow">
    @if (WorkOrder?.GripWraps != null && WorkOrder?.GripWraps.ToLower() == "do not attach")
            {
    <div class="col">
        <h3 class="shopFloorLabel">@_localizer.GripWraps</h3>

        <h1 class="blinkingRed">@_localizer.DoNotAttach</h1>
        }
        else
        {
        <h1>@WorkOrder?.GripWraps</h1>
    </div>
    }
    @if (!String.IsNullOrEmpty(WorkOrder.ClubCount().ToString()))
        {
    <div class="col">
        <h3 class="shopFloorLabel">@_localizer.ClubCount</h3>
        <h1>@WorkOrder?.ClubCount()</h1>
    </div>
        }
</div>

<div class="row shopFloorRow">
    @if (!String.IsNullOrEmpty(WorkOrder?.GetGripLogoOrientation()))
        {
    <div class="col">
        <h3 class="shopFloorLabel">@_localizer.LogoOrientation</h3>
        <h1>@_localizer[WorkOrder?.GetGripLogoOrientation()]</h1>
    </div>
        }
    @if (!String.IsNullOrEmpty(WorkOrder.GripWraps))
        {
    <div class="col">
        <h3 class="shopFloorLabel">@_localizer.GripWraps</h3>
        <h1>@WorkOrder.GripWraps</h1>

    </div>
        }
</div>

<div class="row shopFloorRow">
    <div class="col">
        @if (WorkOrder.Grip().ComponentSku != null)
            {
        <ZoomableImage Sku="@WorkOrder.Grip().ComponentSku" ComponentType="grip" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>

            }
    </div>
</div>

}