﻿@using TMGA.Domain.Models.Intercept; 

<h3 class="shopFloorLabel" style="display:inline;">@_localizer.Grip</h3>
<h3 class="shopFloorLabel" style="display:inline;padding-left: @(_configuration["CULTURE_OVERRIDE"]=="ja" ? "390px" : "390px")">@WorkOrder?.Grip()?.ComponentSku</h3>
<h1>@WorkOrder.Grip().ComponentDescription</h1>