﻿@using TMGA.Domain.Models.Intercept; 

<h3 class="shopFloorLabel" style="display:inline;">@_localizer.Head</h3>
<h3 class="shopFloorLabel" style="display:inline;padding-left: @(_configuration["CULTURE_OVERRIDE"]=="ja" ? "350px" : "315px")">@WorkOrder?.Head()?.ComponentSku</h3>
@if (WorkOrder.Head().ComponentDescription.Contains("#"))
{
    <h1>
        @WorkOrder.Head().ComponentDescription.Split("#")[0]
    </h1>
}
else
{
    <h1>
        @WorkOrder.Head().ComponentDescription
    </h1>
}