﻿<style>
    #helpModalContainer {
        height: 95%;
        width: 95%;
        top: 2%;
        left: 2%;
        position: fixed;
        /*background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);*/
        background: radial-gradient(circle, rgba(0,0,50,.4) 0%, rgba(0,0,10,.4) 100%), url('../img/aluminum-darkblue.jpg');
        /*background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);*/
        /*background-color: rgba(255,215,0, .7);*/
        z-index: 5000; 
        align-content: center;
        align-items: center;
        border: 4px solid #757390f5;
    }
</style>

<div id="helpModalContainer" class="roundCorners @(isClosing ? "scale-out-center" : "scale-in-center")" @onclick="@CloseWindow">
    <embed src="/pdf/helpexample.pdf" width="95%" height="90%" />
</div>

