﻿@if (WorkOrder != null || WorkOrders != null)
{

    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "EN")
    {

        <div class="m-0 text-center helpButton" @onclick="@(() => OpenModal())">
            <i class="fas fa-question-circle fa-2x"></i>
            <h5 style="margin-top:7px;">@_localizer.Help</h5>
        </div>
    }
    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "JA")
    {

        <div class="m-0 text-center helpButton" @onclick="@(() => OpenModal())">
            <i class="fas fa-question-circle fa-2x"></i>
            <h5 style="margin-top:7px;">@_localizer.Help</h5>
        </div>
    }



    if (IsOpen)
    {
        <HelpModal OnOpen=ModalOpened OnClose=ModalClosed></HelpModal>
    }
}