﻿@if (WorkOrder != null || WorkOrders != null)
{

    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "EN")
    {

        <div class="m-0 text-center holdButton" @onclick="@(() => OpenModal())">
            <i class="fas fa-pause-circle fa-2x"></i>
            <h5 style="margin-top:7px;">@_localizer.Hold</h5>
        </div>
    }
    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "JA")
    {

        <div class="m-0 text-center holdButton" @onclick="@(() => OpenModal())">
            <i class="fas fa-pause-circle fa-2x"></i>
            <h5 style="margin-top:7px;">@_localizer.Hold</h5>
        </div>
    }



    if (IsOpen)
    {
        <HoldModal OnOpen=ModalOpened OnClose=ModalClosed></HoldModal>
    }
}