﻿<style>
    #holdModalContainer {
        height: 95%;
        width: 95%;
        top: 2%;
        left: 2%;
        position: fixed;
        background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
        /*background-color: rgba(255,215,0, .7);*/
        z-index: 5000;
        align-content: center;
        align-items: center;
        border: 4px solid #757390f5;
    }
</style>

<div id="holdModalContainer" class="roundCorners @(isClosing ? "scale-out-center" : "scale-in-center")" @onclick="@CloseWindow">
    <div class="text-center centeredOnScreen">
        <h1 style="color:black">@_localizer.StationOnHold</h1>
        <h1 style="color:black">@elapsed.ToString(@"hh\:mm\:ss")</h1>
        <h3 style="color:black">@_localizer.ScanOrTapScreenToExit</h3>
    </div>
</div>

