﻿@inherits ComponentBase
@using TMGA.Domain.Models.Intercept;

@if (WorkOrder != null)
{
    <div class="row shopFloorRow">
        @if (!String.IsNullOrEmpty(WorkOrder.ClubName()))
        {
        <div class="col">
            <ClubInformationComponent></ClubInformationComponent>
        </div>
        }

        @if (!String.IsNullOrEmpty(WorkOrder?.Shaft().ComponentDescription))
        {
        <div class="col">
            <h3 class="shopFloorLabel">@_localizer.ShaftType</h3>
            <h1>@WorkOrder.Shaft().ComponentDescription</h1>
        </div>
        }
    </div>

    <div class="row shopFloorRow">
        @if (!String.IsNullOrEmpty(WorkOrder?.ClubCount().ToString()))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.ClubCount</h3>
                <h1>@WorkOrder.ClubCount()</h1>
            </div>
        }
        @if (!String.IsNullOrEmpty(WorkOrder?.GetGripLogoOrientation()))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.LogoOrientation</h3>
                <h1>@_localizer[WorkOrder.GetGripLogoOrientation()]</h1>
            </div>
        }
    </div>

    <div class="row shopFloorRow">
        <div class="col">
            <h3 class="shopFloorLabel">@_localizer.LieLoft</h3>
            <h1>@WorkOrder.GetLie() / @WorkOrder.GetLoft()</h1>
        </div>
        @if (WorkOrder.SKUs.Any())
        {
        <div class="col">
            <h3 class="shopFloorLabel">@_localizer.FinalClubLength</h3>
            <h1>@WorkOrder?.SKUs?.FirstOrDefault()?.SubSKUs?.FirstOrDefault().FinalClubLength</h1>
        </div>
        }
    </div>

    <div class="row shopFloorRow">
        @if (!String.IsNullOrEmpty(WorkOrder?.LongestClubLength().ToString()))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.LongestLength</h3>
                <h1>@WorkOrder.LongestClubLength()</h1>
            </div>
        }
        @if (!String.IsNullOrEmpty(WorkOrder?.Grip().ComponentDescription))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.Grip</h3>
                <h1>@WorkOrder.Grip().ComponentDescription</h1>
            </div>
        }
    </div>

    <div class="row shopFloorRow">
        @if (!String.IsNullOrEmpty(WorkOrder.ClubCount().ToString()))
        {
            <h3 class="shopFloorLabel">@_localizer.SevenIronLength</h3>
            <div class="col">
                @if (WorkOrder.SevenIronLength() != null)
                {
                    @if (_configuration["UNITS"] == "Imperial")
                    {
                        <h1>@WorkOrder.SevenIronLength()</h1>
                    }
                    else
                    {
                        <h1>@(Math.Round((WorkOrder.SevenIronLength() ?? 0) * (decimal)25.4, 1)) mm</h1>
                    }
                }
                else
                {
                    <h1>See Butt Length</h1>
                }
            </div>
        }

        @if (!String.IsNullOrEmpty(WorkOrder?.SwingWeightRange()))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.SwingWeightRange</h3>
                <h1>@WorkOrder?.SwingWeightRange()</h1>
            </div>
        }
    </div>

    <div class="row shopFloorRow">
        <div class="col">
            @if (WorkOrder?.Grip()?.ComponentSku != null)
            {
                <ZoomableImage Sku="@WorkOrder.Grip().ComponentSku" ComponentType="grip" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>

            }
        </div>
        <div class="col">
            @if (WorkOrder?.Shaft()?.ComponentSku != null)
            {
                <ZoomableImage Sku="@WorkOrder.Shaft().ComponentSku" ComponentType="shaft" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>

            }
        </div>
    </div>

}