﻿<style>
    #maintenanceModalContainer {
        height: 95%;
        width: 95%;
        top: 2%;
        left: 2%;
        position: fixed;
        background: radial-gradient(circle, rgba(0,0,50,.4) 0%, rgba(0,0,10,.4) 100%), url('../img/aluminum-darkblue.jpg');
        /*background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);*/
        /*background-color: rgba(255,215,0, .7);*/
        z-index: 5000;
        align-content: center;
        align-items: center;
        border: 4px solid #757390f5;
    }
</style>

<div id="maintenanceModalContainer" class="roundCorners">
    <div class="row">
        <div class="col text-center">
            <h1 style="color:white">Maintenance</h1>
            <h3 style="top:10px;right:20px;position:absolute;" class="defectScreenOptionSmall" @onclick="@CloseWindow">Cancel</h3>
        </div>
    </div>

    @if (MaintenanceQuestions != null)
    {
        foreach (var question in MaintenanceQuestions?.Where(_ => !AnsweredQuestions.Select(x => x.QuestionId).ToList().Contains(_.Id)).OrderBy(_ => _.DisplayOrder).Take(1).ToList())
        {
            @*foreach is unnessary, doing it one by one*@

            <div class="row text-center" style="margin-top:100px;">
                <div class="col">
                    <h1 style="color:white">
                        @question.Description
                    </h1>
                </div>
            </div>
            <div class="row text-center" style="margin-top:75px;">
                <div class="col">
                    <h1 @onclick=@(() => AnswerQuestion(question.Id, true)) style="margin-left:300px;cursor:pointer;"><i class="fa fa-check text-success"></i> Yes</h1>
                  
                </div>
                <div class="col"> 
                    <h1 @onclick=@(() => AnswerQuestion(question.Id, false)) style="margin-right:300px;cursor:pointer;"><i class="fa fa-times text-danger"></i> No</h1>
                </div>
            </div>
        }
    }

    @*@if (AnsweredQuestions != null)
    {
        foreach (var aq in AnsweredQuestions)
        {
            <span>@aq?.QuestionId</span> <span>@aq?.Answer</span>
        }
    }*@
</div>

