﻿@if (WorkOrder != null || WorkOrders != null)
{

    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "EN")
    {

        <div class="m-0 text-center maintenanceButton" @onclick="@(() => OpenModal())">
            <i class="fas fa-wrench fa-2x"></i>
            <h5 style="margin-top:7px;">@_localizer.Maintain</h5>
        </div>
    }
    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "JA")
    {

        <div class="m-0 text-center maintenanceButton" @onclick="@(() => OpenModal())">
            <i class="fas fa-wrench fa-2x"></i>
            <h5 style="margin-top:7px;font-size:.7rem">@_localizer.Maintain</h5>
        </div>
    }



    if (IsOpen)
    {
        <MaintenanceModal OnOpen=ModalOpened OnClose=ModalClosed></MaintenanceModal>
    }
}