﻿@using TMGA.Domain.Models.Intercept;
@using System.Linq;


@try
{


    @if (WorkOrders != null && WorkOrders.Count() > 0)
    {
        <SerialCaptureComponent></SerialCaptureComponent>

        <div class="row shopFloorRow">
            <div class="col">
                <h1>@_localizer.Head  <span class="shopFloorLabel">@WorkOrders?.FirstOrDefault().Head().ComponentSku</span></h1>
                @foreach (var head in GetGrouped("HEAD"))
                {
                    <h3>@head.Desc (@head.Quantity)</h3>
                }
                @if (WorkOrders?.FirstOrDefault().Head()?.ComponentSku != null)
                {
                    <ZoomableImage Sku="@WorkOrders?.FirstOrDefault().Head().ComponentSku" ComponentType="head" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>

                }

            </div>

            <div class="col">
                <h1>@_localizer.Shaft  <span class="shopFloorLabel">@WorkOrders?.FirstOrDefault().Shaft().ComponentSku</span></h1>
                @foreach (var shaft in GetGrouped("SHAFT"))
                {
                    <h3> @shaft.Desc (@shaft.Quantity) </h3>
                }

                @if (WorkOrders?.FirstOrDefault().Shaft()?.ComponentSku != null)
                {
                    <ZoomableImage Sku="@WorkOrders?.FirstOrDefault().Shaft().ComponentSku" ComponentType="shaft" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>

                }
            </div>

            <div class="col">
                <h1>@_localizer.Grip   <span class="shopFloorLabel">@WorkOrders?.FirstOrDefault().Grip().ComponentSku</span></h1>
                @foreach (var grip in GetGrouped("GRIP"))
                {
                    <h3>@grip.Desc (@grip.Quantity)</h3>
                }
                @if (WorkOrders?.FirstOrDefault()?.Grip()?.ComponentSku != null)
                {
                    @if (WorkOrders?.FirstOrDefault().Grip()?.ComponentSku != null)
                    {
                        <ZoomableImage Sku="@WorkOrders?.FirstOrDefault().Grip().ComponentSku" ComponentType="grip" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>

                    }
                }
            </div>
        </div>
    }

    @if (currentShipment != null && currentShipment?.Count() > 0)
    {
        <div class="row shopFloorRow">
            <div class="col">
                <h1>@_localizer.Head - @currentShipment?.First()?.Head()?.ComponentSku</h1>
                @foreach (var head in GetGroupedEntireShipment("HEAD"))
                {
                    <h3>@head.Desc (@head.Quantity)</h3>
                }
                @if (currentShipment?.First()?.Head()?.ComponentSku != null)
                {
                    <ZoomableImage Sku="@currentShipment?.First()?.Head()?.ComponentSku" ComponentType="shaft" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>

                }
            </div>
            <div class="col">
                <h1>@_localizer.Shaft - @currentShipment?.First()?.Shaft()?.ComponentSku</h1>
                @foreach (var shaft in GetGroupedEntireShipment("SHAFT"))
                {
                    <h3> @shaft.Desc (@shaft.Quantity) </h3>
                }
                @if (currentShipment?.First()?.Shaft()?.ComponentSku != null)
                {
                    <ZoomableImage Sku="@currentShipment?.First()?.Shaft()?.ComponentSku" ComponentType="shaft" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>

                }
            </div>
            <div class="col">
                <h1>@_localizer.Grip - @currentShipment?.First()?.Grip()?.ComponentSku</h1>
                @foreach (var grip in GetGroupedEntireShipment("GRIP"))
                {
                    <h3>@grip.Desc (@grip.Quantity)</h3>
                }
                @if (currentShipment?.First()?.Grip()?.ComponentSku != null)
                {
                    <ZoomableImage Sku="@currentShipment?.First()?.Grip()?.ComponentSku" ComponentType="shaft" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>

                }
            </div>
        </div>
    }
}
catch
{

}