﻿
@if (WorkOrder != null || WorkOrders != null)
{


    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "EN")
    {

        <div class="m-0 text-center refreshButton" title="@_localizer.ResetScreen" onclick="window.location.reload()">
            <i class="fas fa-sync fa-2x"></i>
            <h5 style="margin-top:7px;">@_localizer.Refresh</h5>
        </div>
    }
    @if (_configuration["CULTURE_OVERRIDE"].ToUpper() == "JA")
    {
        <div class="m-0 text-center refreshButton"  title="@_localizer.ResetScreen" onclick="window.location.reload()">
            <i class="fas fa-sync fa-2x"></i>
            <h5 style="margin-top:7px;">@_localizer.Refresh</h5>
        </div>
    }


}