﻿@using TMGA.Domain.Models.Intercept;

@if (IsLoading)
{
    <div class="row shopFloorRow">
        <div class="col text-center">
            <h2>@_localizer.LoadingSerialsAndAccesories</h2>
        </div>
    </div>
}

else
{
    if (NeededSerials?.Count() != 0 || HeadAccesoriesRemaining() != 0)
    {
        <div class="row shopFloorRow">
            <div class="col text-center">
                @if (ScanSerialMessage != null)
                {
                    <h1 class="@($"blinking{redOrGreen}")" style="padding-top:10px;">
                        @ScanSerialMessage
                    </h1>
                }
                <h1 class="blinkingGreen">
                    @_localizer.Scan @NeededSerials.Count()
                    @(NeededSerials.Count() - scannedInputs?.Count() == 1 ? _localizer.Head : _localizer.Head)
                    @(HeadAccesoriesRemaining() == 1 ? " " + _localizer.And + " 1 " + (_localizer.Accessories).ToLower() : "")
                    @(HeadAccesoriesRemaining() > 1 ? " " + _localizer.And + " " + HeadAccesoriesRemaining() + " " + _localizer.Accessories.ToLower() : "")
                </h1>


            </div>
        </div>
        <div class="row shopFloorRow">
            <div class="col text-center">
                <h1><input type="text" id="serialInput" @bind-value="@scannedInput" autofocus /></h1>
            </div>
        </div>

    }

    else
    {
        <div class="row shopFloorRow">
            <div class="col text-center">
                <h1 class="text-success">@_localizer.SerialNumberScanningComplete</h1>
                <h3 class="blinkingGreen"> @_localizer.ReadyForNextWorkOrder</h3>
                <div>
                    <input class="btn btn-primary btn-lg m-2 p-3" style="font-size:30px;" type='button' onclick='location.reload();' value=@_localizer.Done />

                </div>
            </div>
        </div>
    }


    <div class="row shopFloorRow">
        @if (!String.IsNullOrEmpty(WorkOrder?.ClubCount().ToString()))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.ClubCount</h3>
                <h1>@WorkOrder.ClubCount()</h1>
            </div>
        }

        @*@if (WoSku.SkuType == "Irons")
        {
            @if (!String.IsNullOrEmpty(WorkOrder?.GetHeadRange()))
            {
                <div class="col">
                    <h3 class="shopFloorLabel">@_localizer.HeadRange</h3>
                    <h1>@WorkOrder.GetHeadRange()</h1>
                </div>
            }
          }*@

    </div>

    <div class="row shopFloorRow">
        <div class="col">
            <h3 class="shopFloorLabel" style="display:inline;">@_localizer.ClubModel</h3>
            <h3 class="shopFloorLabel" style="display:inline;color:white;padding-left: @(_configuration["CULTURE_OVERRIDE"] == "ja" ? "350px" : "315px;")">@WorkOrder?.SKUs?.First().Sku</h3>
            <h1>@WorkOrder.ClubName()</h1>
            <br />
            @if (HeadComponentsList != null && HeadComponentsList.Count() > 0)
        {
             <h1>@_localizer.Head  <span class="shopFloorLabel">@HeadComponentsList[0].ComponentSku</span></h1>
            @foreach (var head in HeadComponentsList)
            {
        <h3>@head.ComponentDescription  (@head.ComponentQty)</h3>
            }
        }

        </div>
        <div class="col">
            <h3 class="shopFloorLabel" style="display:inline;">@_localizer.Accessories</h3>

            @if (ComponentsList.Count > 0)
            {
                @foreach (var item in ComponentsList)
                {

        <h1>
            @if (@item.ComponentType == "HEADCOVER")
            {
                @(" " + CoverRemaining() + " - " + _localizer.HeadCover)
            }
            else
            {
                @if (@item.ComponentType == "MISC")
                {
                    if (@item.ComponentDescription.Contains("MANUAL") || @item.ComponentDescription.Contains("Manual"))
                    {
                        @(" " + ManualRemaining() + " - " + _localizer.Manual)
                    }
                    else
                    {
                        @(" " + WrenchRemaining() + " - " + _localizer.Misc)
                    }
                }
            }
            / @item.ComponentSku
        </h1>
                }
            }
            else
            {
                @if (CoverRemaining()>0)
                {
                    foreach (var item in WoHeadSku)
                    {

                        <h1>
                            @(" " + CoverRemaining() + " - " + _localizer.HeadCover)
                            / @item
                        </h1>
                    }
                }
            }

        </div>
    </div>

}


