﻿@using TMGA.Domain.Models.Intercept;

@if (numberOfSerialsRemainingToScan != 0)
{
    <div class="row shopFloorRow">
        <div class="col text-center">
            <h1 class="@($"blinking{redOrGreen}")">
                @ScanSerialMessage
            </h1>
        </div>
    </div>


    <div class="row shopFloorRow">
        <div class="col text-center">
            @if (_configuration["CULTURE_OVERRIDE"] == "ja")
            {
                <h1>
                    <input type="text" id="serialInput" @bind-value="@scannedSerialNumber" placeholder="
                       @(scannedSerialNumbers?.Count() + 1) @_localizer.ScanHeadsJa"
                           autofocus />
                </h1>
            }
            else
            { 
                <h1>
                    <input type="text" id="serialInput" @bind-value="@scannedSerialNumber" placeholder="@_localizer.Scan
                       @(WorkOrders?.Sum(_ => _.ClubCount()) - scannedSerialNumbers?.Count())
                       @(WorkOrders?.Sum(_ => _.ClubCount()) - scannedSerialNumbers?.Count() == 1 ? _localizer.Head : _localizer.Heads)"
                           autofocus />
                </h1>
            }
        </div>
    </div>

}
else
{
    <div class="row shopFloorRow">
        <div class="col text-center">
            <h1 class="text-success">@_localizer.SerialNumberScanningComplete</h1>
            <h3 style="padding-top:10px;" class="blinkingGreen">@_localizer.ReadyForNextWorkOrder</h3>
        </div>
    </div>
}
