﻿@if (tipVerified == false || buttVerified == false)
{ 
    <div class="row shopFloorRow centeredOnScreen" style="margin-top:-100px;">
        <div class="col text-center"> 
            <h1 class="blinkingRed">@TemplateVerificationMessage</h1>
        </div>
    </div>
}


@if (tipVerified == false)
{
    <div class="row shopFloorRow centeredOnScreen">
        <div class="col text-center">
            <h1><input type="text" class="transparentInput" id="shaftCutTemplateTipInput" @bind-value="shaftCutTemplateTipInput" placeholder="Scan Tip Template @WorkOrder.SKUs?.FirstOrDefault().TipTemplate" autofocus /></h1>
        </div>
    </div>
}

@if (buttVerified == false && tipVerified == true)
{


    <div class="row shopFloorRow centeredOnScreen">
        <div class="col text-center">
            <h1><input type="text" class="transparentInput" id="shaftCutTemplateButtInput" @bind-value="shaftCutTemplateButtInput" placeholder="Scan Butt Template @WorkOrder.SKUs?.FirstOrDefault().ButtTemplate" autofocus /></h1>
        </div>
    </div>

}

