﻿@using TMGA.Domain.Models.Intercept;
@inherits ComponentBase

@if (WorkOrder != null && WorkOrder.SKUs.Any() && (ShaftCutTemplateVerificationComponentState.TipTemplateVerified == false || ShaftCutTemplateVerificationComponentState.ButtTemplateVerified == false))
{
    <ShaftCutTemplateVerificationComponent></ShaftCutTemplateVerificationComponent>
}

@if (WorkOrder != null && WorkOrder.SKUs.Any() && ShaftCutTemplateVerificationComponentState.TipTemplateVerified && ShaftCutTemplateVerificationComponentState.ButtTemplateVerified)
{
    <div class="row shopFloorRow">
        @if (!String.IsNullOrEmpty(WorkOrder?.SKUs?.FirstOrDefault()?.TipTemplate))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.TemplateNumberTip</h3>
                <h1>@WorkOrder.SKUs.FirstOrDefault().TipTemplate</h1>
            </div>
        }

        @if (!String.IsNullOrEmpty(WorkOrder.SKUs.FirstOrDefault().ButtTemplate))
        {
            <div class="col">

                <h3 class="shopFloorLabel">@_localizer.TemplateNumberButt</h3>
                <h1>@WorkOrder.SKUs.FirstOrDefault().ButtTemplate</h1>
            </div>
        }
    </div>

    <div class="row shopFloorRow">
        <div class="col">
            <h3 class="shopFloorLabel">@_localizer.Tip</h3>
            @if (WorkOrder.SKUs.FirstOrDefault().TipTemplateLength.Value.ToString("n2") == "0.00")
            {
            <h1>@_localizer.None</h1>
            }
           else
            {
            @if (_configuration["UNITS"] == "Imperial")
                    {
            <h1>@Math.Round(WorkOrder.SKUs.FirstOrDefault().TipTemplateLength ?? 0, 2) in </h1>
                    }
                    else
                    {
            <h1>@(Math.Round((WorkOrder.SKUs.FirstOrDefault().TipTemplateLength ?? 0) * (decimal)25.4, 0)) mm</h1>
                    }
            }
        </div>

        <div class="col">
            <h3 class="shopFloorLabel">@_localizer.Butt</h3>
            @if (WorkOrder.SKUs.FirstOrDefault().ButtTemplateLength.Value.ToString("n2") == "0.00")
            {
            <h1>@_localizer.None</h1>
            }
            else
            {
            @if (_configuration["UNITS"] == "Imperial")
                    {
            <h1>@Math.Round(WorkOrder.SKUs.FirstOrDefault().ButtTemplateLength ?? 0, 2) in </h1>
                    }
                    else
                    {
            <h1>@(Math.Round((WorkOrder.SKUs.FirstOrDefault().ButtTemplateLength ?? 0) * (decimal)25.4, 0)) mm</h1>
                    } 
            }

        </div>
    </div>

    <div class="row shopFloorRow">


        @if (WorkOrder.Shaft() != null)
        {
            @if (!String.IsNullOrEmpty(WorkOrder.Shaft().ComponentDescription))
            {
                <div class="col">
                    <div class="container-fluid">
                        <div class="row">
                            <h3 class="shopFloorLabel" style="display:inline;">@_localizer.Shaft</h3>
                            <h3 class="shopFloorLabel" style="display:inline;padding-left: @(_configuration["CULTURE_OVERRIDE"]=="ja" ? "350px" : "315px")">@WorkOrder?.Shaft()?.ComponentSku</h3>
                        </div>
                        <div class="row">
                            <h1>@WorkOrder.Shaft().ComponentDescription</h1>
                        </div>


                    </div>
                    <div class="row">

                        @if (WorkOrder.Shaft() != null)
                        {
                            @if (WorkOrder.Shaft().ComponentSku != null)
                            {
                                <div class="col">
                                    <ZoomableImage Sku="@WorkOrder.Shaft().ComponentSku" ComponentType="shaft" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>
                                </div>
                            }
                        }

                    </div>
                </div>
            }

        }

        @if (!String.IsNullOrEmpty(WorkOrder.ClubName()))
        {
            <div class="col">
                <ClubInformationComponent></ClubInformationComponent>
            </div>
        }

    </div>


    <div class="row shopFloorRow">
        @if (!String.IsNullOrEmpty(WorkOrder?.SKUs?.FirstOrDefault()?.SubSKUs?.FirstOrDefault().TipCap))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.TipCap</h3>
                <h1> @WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().TipCap</h1>

            </div>
        }

        @if (!String.IsNullOrEmpty(WorkOrder?.SKUs?.FirstOrDefault()?.SubSKUs?.FirstOrDefault().TipPrep))
        {
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.TipPrep</h3>
                <h1>@WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().TipPrep</h1> 
            </div>
        }

    </div>

    <div class="row shopFloorRow">

        @if (!String.IsNullOrEmpty(WorkOrder.ClubCount().ToString()))
        {
        <div class="col">
            <h3 class="shopFloorLabel">@_localizer.ClubCount</h3>
            <h1>@WorkOrder.ClubCount()</h1>
        </div>
        }
        @if (!String.IsNullOrEmpty(WorkOrder.GripWraps) && _configuration["CULTURE_OVERRIDE"] != "ja")
        {
        <div class="col">
            <h3 class="shopFloorLabel">@_localizer.GripWraps</h3>
            <h1>@WorkOrder.GripWraps</h1>
        </div>
        }
    </div>

   
}

