﻿@inherits LayoutComponentBase;
@using Microsoft.AspNetCore.Components;

<link href="/css/shopfloor.css" rel="stylesheet" />

<CascadingValue Value="Station" Name="Station">
    <CascadingValue Value="WorkOrders" Name="WorkOrders">
        <CascadingValue Value="User" Name="User">

            <div class="main" id="mainWindow">
                <div class="row" style="margin-bottom:10px;">
                    <div class="col text-left">
                        <a class="navbar-brand" href="">
                            <img src="img/tm_white_transparent_cropped.png" style="margin-top:10px;" width="192" height="78" />
                        </a>
                    </div>
                    <div class="col text-center">
                        <div class="p-2 stationDescription">
                            <h2> 
                                    @if (Station != null)
                                    {
                                        @* weird parsing hacks *@
                                        <span>
                                            @_localizer[Station?.StationTypeTemp?.Replace("/", "").Replace(" ", "").Trim()]
                                        </span>
                                        <span>
                                            - @_localizer[Station?.Cell?.Site?.Desc.Replace("/", "").Replace(" ", "").Trim()]
                                        </span>
                                        <span>
                                            <span>
                                                -  @_localizer[Station?.Cell?.Desc.Replace("/", "").Replace(" ", "").Trim()]
                                            </span>
                                        </span>
                                    } 
                            </h2>
                            <h4>
                                @if (WorkOrders?.Count() > 0 && WorkOrders?.FirstOrDefault().WorkOrder != null)
                                {
                                    @WorkOrders?.FirstOrDefault()?.WorkOrder
                                }
                                else
                                {
                                    @WorkOrders?.FirstOrDefault()?.Shipment
                                }
                            </h4>
                        </div>
                    </div>
                    <div class="col text-right" style="margin-top:15px;">
                        <ScanInput OnScanBegin="@Loading" OnSuccess="@WorkOrderScanSuccess" OnError="@ErrorScanning" @ref="@ScanInputField"></ScanInput>
                        @if (User == null)
                        {
                        <a href="/" class="p-2 m-2" title="Click to login"><i class="fas fa-user-alt-slash text-danger"></i>&nbsp;Login</a>
                        }
                        else
                        {
                        <span class="p-2 m-2">
                            @User.Name &nbsp;<i class="fas fa-user-alt text-primary"></i>
                        </span>
                        }


                        @*<small class="p-2 m-2">@CurrentTime @currentCulture</small>*@
                    </div>

                </div>
                <div class="row">
                    <div class="col">

                        @Body

                        @if (HasHelpButton)
                        {
                            <HelpButton></HelpButton>
                        }

                        @if (HasMaintenanceButton)
                        {
                            <MaintenanceButton></MaintenanceButton>
                        }

                        @if (_configuration["HOLD_OR_DONE"].ToUpper() == "HOLD" && HasHoldButton)
                        {
                            <HoldButton @ref=holdButtonRef OnOpen=HoldScreenOpened OnClose=HoldScreenClosed></HoldButton>
                        }
                        @if (_configuration["HOLD_OR_DONE"].ToUpper() == "DONE" && HasDoneButton)
                        {
                            <DoneButton></DoneButton>
                        }

                        @if (HasDefectButton)
                        {
                            <DefectButton></DefectButton>
                        }

                        @if (HasRefreshButton)
                        {
                            <RefreshButton></RefreshButton>
                        }
                        @if (HasCloseButton)
                        {
                            <CloseButton></CloseButton>
                        }

                        <span style="position:fixed;bottom:10px;right:10px;">@(CurrentWorkOrderStopwatch.Elapsed.TotalSeconds > 0 ? CurrentWorkOrderStopwatch?.Elapsed.ToString(@"mm\:ss") : "")</span>

                        @if (WorkOrders == null)
                        {
                            <h1 class="centeredOnScreen">@Message</h1>
                        }
                    </div>
                </div>
            </div>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>