﻿<style>
    #stationQueueInformationContainer {
        position: fixed;
        bottom: 10px;
        left: 25px;
    }
</style>


@if (Station != null)
{
    <div id="stationQueueInformationContainer">
        Queue:
        @Station?.Cell?.Queue?.Sum(_ => _.ClubCount) @_localizer.clubs,
        @Station?.Cell?.Queue?.Select(_ => _.WO).Distinct().Count() @_localizer.orders,
        @Station?.Cell?.Queue?.Select(_ => _.ShipmentId).Distinct().Count() @_localizer.shipments
    </div>
}