﻿<div class="p-2 stationDescription">
    <h2>
        @_localizer[Station?.StationTypeTemp?.Replace("/", "").Replace(" ", "").Trim()] - @Station?.Cell?.Site?.Desc -  @Station?.Cell?.Desc
    </h2> 
</div>