﻿@using TMGA.Domain.Models.Intercept;

@if (WorkOrder != null)
{


<div class="row shopFloorRow">
    @if (WorkOrder.Head() != null)
        {
    @if (!String.IsNullOrEmpty(WorkOrder.Head().ComponentDescription))
            {
    <div class="col">
        <div class="container-fluid">
            <div class="row">
                <h3 class="shopFloorLabel" style="display:inline;">@_localizer.Head</h3>
                <h3 class="shopFloorLabel" style="display:inline;padding-left: @(_configuration["CULTURE_OVERRIDE"]=="ja" ? "350px" : "315px")">@WorkOrder?.Head()?.ComponentSku</h3>

            </div>
            <div class="row">
                @if (WorkOrder.Head().ComponentDescription.Contains("#"))
                            {
                <h1>
                    @WorkOrder.Head().ComponentDescription.Split("#")[0]
                  
                    <ExtendedClubInfoButton></ExtendedClubInfoButton>
                     
                </h1>
                            }
                            else
                            {
                <h1>
                    @WorkOrder.Head().ComponentDescription
                   
                    <ExtendedClubInfoButton></ExtendedClubInfoButton>
                  
                </h1>
                            }
            </div>


        </div>
        <div class="row">

            @if (WorkOrder.Head() != null)
                        {
            @if (WorkOrder.Head().ComponentSku != null)
                            {
            <div class="col">
                <ZoomableImage Sku="@WorkOrder.Head().ComponentSku" ComponentType="head" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>
            </div>
                            }
                        }

        </div>
    </div>
            }

    @if (WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().SwingweightCode != null)
            {

    <div class="col">
        <h3 class="shopFloorLabel" style="display:inline;">@_localizer.TargetWeight</h3>

        @foreach (var subSku in WorkOrder?.SKUs?.SelectMany(_ => _.SubSKUs).ToList())
                    {
    <div class="row">
        @if (subSku.SubskuType == "Irons")
        {
            <div class="col-sm-2">
                <h3>@subSku.HeadType</h3>
            </div>
            <div class="col-sm-2">
                <h3>@subSku.SwingweightCode</h3>
            </div>
        }
        else
        {
            <div class="col-sm-4">
                <h3>@subSku.SwingweightCode</h3>
            </div>
        }

    </div>
                    }

    </div>
            }


        }

</div>

<div class="row shopFloorRow">
    @if (!String.IsNullOrEmpty(WorkOrder.Shaft().ComponentDescription))
    {
    <div class="col">
        <h3 class="shopFloorLabel" style="display:inline;">@_localizer.Shaft</h3>
        <h3 class="shopFloorLabel" style="display:inline;padding-left: @(_configuration["CULTURE_OVERRIDE"]=="ja" ? "350px" : "315px")">@WorkOrder?.Shaft()?.ComponentSku</h3>
        <h1>@WorkOrder.Shaft().ComponentDescription</h1>
    </div>
    }

    @*@if (WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().SwingweightCode != null  && !WorkOrder.SKUs.Any(_ => _.SkuType == "Irons"))
    {
    <div class="col">
        <h3 class="shopFloorLabel">@_localizer.TargetWeight79</h3>
        <h1>@WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().SwingweightCode.Substring(0, 1).Trim() @Convert.ToDouble((Math.Ceiling(Convert.ToDouble(WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().SwingweightCode.Substring(1, 3).Trim()) * 2) / 2)).ToString("N1")</h1>
    </div>
    }*@

</div>

<div class="row shopFloorRow">
    @if (WorkOrder.Shaft().ComponentSku != null)
        {
    <div class="col">
        <ZoomableImage Sku="@WorkOrder.Shaft().ComponentSku" ComponentType="shaft" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>
    </div>
        }

    @if (WorkOrder?.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault()?.Ferrule != null)
        {
    <div class="col">
        <h3 class="shopFloorLabel">@_localizer.Ferrule</h3>
        <h1>
            @WorkOrder?.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault()?.Ferrule;
        </h1>
    </div>
        }


    @*@if (WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().SwingweightCode != null && WorkOrder.SKUs.Any(_ => _.SkuType == "Irons"))
        {
            <div class="col">
                @if (WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().SwingweightCode != null && WorkOrder.SKUs.Any(_ => _.SkuType == "Irons"))
                {
                    <h3 class="shopFloorLabel">@_localizer.TargetWeightAwPw</h3>
                    <h1>@WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().SwingweightCode.Substring(0, 1).Trim()@Convert.ToDouble((Math.Ceiling((Convert.ToDouble(WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().SwingweightCode.Substring(1, 3).Trim()) + 1) * 2) / 2)).ToString("N1")</h1>
                }
            </div>
        }*@


</div>

<div class="row shopFloorRow">
    @if (!String.IsNullOrEmpty(WorkOrder.Grip().ComponentDescription))
        {
    <div class="col">
        <h3 class="shopFloorLabel" style="display:inline;">@_localizer.Grip</h3>
        <h3 class="shopFloorLabel" style="display:inline;padding-left: @(_configuration["CULTURE_OVERRIDE"]=="ja" ? "350px" : "315px")">@WorkOrder?.Grip()?.ComponentSku</h3>
        <h1>@WorkOrder.Grip().ComponentDescription</h1>
    </div>
        }
    @if (!String.IsNullOrEmpty(WorkOrder.FCT) && !WorkOrder.FCT.StartsWith("#7"))
        {
    <div class="col">
        <h3 class="shopFloorLabel">@_localizer.FCT</h3>
        <h1>@WorkOrder.FCT</h1>
    </div>
        }
        else
        {
    <div class="col">
        <h3 class="shopFloorLabel">@_localizer.FCT</h3>
        <h1>Standard</h1>
    </div>
        }

    @*@if (WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().SwingweightCode != null && WorkOrder.SKUs.Any(_ => _.SkuType == "Irons"))
        {
            @if (!WorkOrder.SKUs.Any(_ => _.SkuDescription == "Metalwoods"))
            {
                <div class="col">
                    <h3 class="shopFloorLabel">@_localizer.TargetWeightSwLw</h3>
                    <h1>@WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().SwingweightCode.Substring(0, 1).Trim()@Convert.ToDouble((Math.Ceiling((Convert.ToDouble(WorkOrder.SKUs.FirstOrDefault().SubSKUs.FirstOrDefault().SwingweightCode.Substring(1, 3).Trim()) + 2) * 2) / 2)).ToString("N1")</h1>
                </div>
            }
        }*@

</div>

<div class="row shopFloorRow">
    @if (WorkOrder.Grip().ComponentSku != null)
        {
    <div class="col">
        <ZoomableImage Sku="@WorkOrder.Grip().ComponentSku" ComponentType="grip" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>
    </div>
        }

    @if (!String.IsNullOrEmpty(WorkOrder.GripWraps))
        {
    <div class="col">
        <h3 class="shopFloorLabel">@_localizer.GripWraps</h3>
        <h1>@WorkOrder.GripWraps</h1>
    </div>
        }

</div>

<div class="row shopFloorRow">
    <div class="col">
        <h3 class="shopFloorLabel">@_localizer.LieLoft</h3>
        <h1>@WorkOrder.GetLie() / @WorkOrder.GetLoft()</h1>
    </div>
    <div class="col">
        <h3 class="shopFloorLabel">@_localizer.LieAngle</h3>
        <h1> @WorkOrder?.SKUs?.FirstOrDefault()?.SubSKUs?.FirstOrDefault()?.LieAngle</h1>
    </div>
</div>
    }
