﻿<h3>TemperatureGraphComponent</h3>

@if (WorkOrder != null)
{
    <h5> You just scanned work order number @WorkOrder.WorkOrder</h5>
}

@if (Station != null)
{
    <h5> Station is @Station.StationTypeTemp</h5>
}
 
@if (User != null)
{
    <h5> You  are @User.Name</h5>
}
 