﻿

<br />
<br />


@if (CuringRowsList == null)
{
    <div class="row shopFloorRow">
        <div class="col">
            @_localizer.Loading
        </div>
    </div>
}
else
{

    <table class="table table-dark">
        <thead>
            <tr>
                <th class="shopFloorLabelSmall">@_localizer.WorkOrder</th>
                <th class="shopFloorLabelSmall">@_localizer.ClubModel</th>
                <th class="shopFloorLabelSmall">@_localizer.QuantityAbbreviation</th>
                <th class="shopFloorLabelSmall"> @_localizer.Status</th>
                <th class="shopFloorLabelSmall">@_localizer.CuringTime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in CuringRowsList)
            {
                <tr>
                    <td>
                        <span class="@((row.Status != "End" ? "text-danger" : "text-success"))"><strong>@row.WorkOrder</strong></span>
                    </td>
                    <td>
                        <span class="@((row.Status != "End" ? "text-danger" : "text-success"))"><strong>@row.ClubDescription</strong></span>
                    </td>
                    <td>
                        <span class="@((row.Status != "End" ? "text-danger" : "text-success"))"><strong>@row.Quantity</strong></span>
                    </td>
                    @if (row.Status != "End")
                    {
                        <td>
                            <span class="text-danger"><strong>@row.Status</strong></span>
                        </td>

                    }
                    else
                    {
                        <td>
                            <span class="text-success"><strong>@_localizer.Ready</strong></span>
                        </td>

                    }
                    <td>
                        <span class="@((row.Status != "End" ? "text-danger" : "text-success"))"><strong>@row.CurrentCuringTime</strong></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @*<div class="row shopFloorRow">
            <div class="col-lg-2">
                <h5 class="shopFloorLabelSmall"> @_localizer.WorkOrder</h5>
            </div>
            <div class="col-lg-5">
                <h5 class="shopFloorLabelSmall"> @_localizer.ClubModel</h5>
            </div>
            <div class="col-lg-1">
                <h5 class="shopFloorLabelSmall"> @_localizer.QuantityAbbreviation</h5>
            </div>
            <div class="col-lg-2">
                <h5 class="shopFloorLabelSmall"> @_localizer.Status</h5>
            </div>
            <div class="col-lg-2">
                <h5 class="shopFloorLabelSmall"> @_localizer.CuringTime</h5>
            </div>

        </div>

        @foreach (var row in CuringRowsList)
        {
            <div class="row">
                <div class="col-lg-2">
                    <h5 class="@((row.Status != "End" ? "text-danger" : "text-success"))"><strong>@row.WorkOrder</strong></h5>
                </div>
                <div class="col-lg-5">
                    <h5 class="@((row.Status != "End" ? "text-danger" : "text-success"))"><strong>@row.ClubDescription</strong></h5>
                </div>
                <div class="col-lg-1">
                    <h5 class="@((row.Status != "End" ? "text-danger" : "text-success"))"><strong>@row.Quantity</strong></h5>
                </div>
                <div class="col-lg-2">
                    @if (row.Status != "End")
                    {
                        <h5 class="text-danger"><strong>@row.Status</strong></h5>
                    }
                    else
                    {
                        <h5 class="text-success"><strong>@_localizer.Ready</strong></h5>
                    }
                </div>
                <div class="col-lg-2">
                    <h5 class="@((row.Status != "End" ? "text-danger" : "text-success"))"><strong>@row.CurrentCuringTime</strong></h5>
                </div>
            </div>
        }*@
}
<div class="modal fade" id="notReady" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalCenterTitle"><strong>@_localizer.CuringNotReadyYet</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-info">@_localizer.CuringNotReadyYetDetail</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ready" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="exampleModalCenterTitle"><strong>@_localizer.CuringReadyYet</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-info">@_localizer.CuringReadyYetDetail</p>
            </div>
        </div>
    </div>
</div>

