﻿@inherits ComponentBase
@inject IJSRuntime JsRuntime
@using Microsoft.AspNetCore.Components;

<div class="row shopFloorRow">
    <div class="col-lg-7">
        @*<h2 class="text-info"><strong>@_localizer.CuringInProgress</strong></h2>
            <p class="text-info">@_localizer.CuringInProgressDetail</p>*@
        <TemperatureListComponent></TemperatureListComponent>
    </div>

    <div class="col-lg-5">
        <div class="row shopFloorRow">
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.CurrentTemperature</h3>
                <h1>@CurrentTemperature</h1>
            </div>
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.CuringTemperature</h3>
                @if (TemperatureRange == "Low")
                {
                    <h1 class="text-success">@_localizer[@TemperatureRange]</h1>
                }
                @if (TemperatureRange == "High")
                {
                    <h1 class="blinkingRed">@_localizer[@TemperatureRange]</h1>
                }
                @if (TemperatureRange != "High" && TemperatureRange != "Low")
                {
                    <h1>@_localizer[@TemperatureRange]</h1>
                }

            </div>
            <div class="col">
                <h3 class="shopFloorLabel">@_localizer.OptimalRange</h3>
                <h1>38C-42C</h1>
            </div>
        </div>
        <div class="row shopFloorRow">
            <div class="col">
                <div class="wrapper">
                    <div id="tempchart"></div>
                </div>
            </div>
        </div>
    </div>
</div>




