﻿@using TMGA.Domain.Models.Intercept;

@if (WorkOrder != null)
{

    @using TMGA.Domain.Models.Intercept;

    @if (WorkOrder != null)
    {


        <div class="row shopFloorRow">


            @if (WorkOrder.Head() != null)
            {
                @if (!String.IsNullOrEmpty(WorkOrder.Head().ComponentDescription))
                {
                    <div class="col">
                        <div class="container-fluid">
                            <div class="row">
                                <h3 class="shopFloorLabel" style="display:inline;">@_localizer.Head</h3>
                                <h3 class="shopFloorLabel" style="display:inline;padding-left: @(_configuration["CULTURE_OVERRIDE"]=="ja" ? "350px" : "315px")">@WorkOrder?.Head()?.ComponentSku</h3>

                            </div>
                            <div class="row">
                                @if (WorkOrder.Head().ComponentDescription.Contains("#"))
                                {
                                    <h1>
                                        @WorkOrder.Head().ComponentDescription.Split("#")[0]
                                    </h1>
                                }
                                else
                                {
                                    <h1>
                                        @WorkOrder.Head().ComponentDescription
                                    </h1>
                                }
                            </div>


                        </div>
                        <div class="row">

                            @if (WorkOrder.Head() != null)
                            {
                                @if (WorkOrder.Head().ComponentSku != null)
                                {
                                    <div class="col">
                                        <ZoomableImage Sku="@WorkOrder.Head().ComponentSku" ComponentType="head" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                }

                @if (!String.IsNullOrEmpty(WorkOrder.ClubName()))
                {
                    <div class="col">
                        <ClubInformationComponent></ClubInformationComponent>
                    </div>
                }


            }

        </div>

        <div class="row shopFloorRow">
            @if (!String.IsNullOrEmpty(WorkOrder.Shaft().ComponentDescription))
            {
                <div class="col">
                    <h3 class="shopFloorLabel" style="display:inline;">@_localizer.Shaft</h3>
                    <h3 class="shopFloorLabel" style="display:inline;padding-left: @(_configuration["CULTURE_OVERRIDE"]=="ja" ? "350px" : "315px")">@WorkOrder?.Shaft()?.ComponentSku</h3>
                    <h1>@WorkOrder.Shaft().ComponentDescription</h1>
                </div>
            }
            @if (!String.IsNullOrEmpty(WorkOrder.ClubCount().ToString()))
            {
                <div class="col">
                    <h3 class="shopFloorLabel">@_localizer.ClubCount</h3>
                    <h1>@WorkOrder.ClubCount()</h1>
                </div>
            }
        </div>

        <div class="row shopFloorRow">
            @if (WorkOrder.Shaft().ComponentSku != null)
            {
                <div class="col">
                    <ZoomableImage Sku="@WorkOrder.Shaft().ComponentSku" ComponentType="shaft" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>
                </div>
            }
            @if (!String.IsNullOrEmpty(WorkOrder.GetGripLogoOrientation()))
            {
                <div class="col">
                    <h3 class="shopFloorLabel">@_localizer.LogoOrientation</h3>
                    <h1>@_localizer[WorkOrder.GetGripLogoOrientation()]</h1>
                </div>
            }
        </div>

        <div class="row shopFloorRow">
            @if (!String.IsNullOrEmpty(WorkOrder.Grip().ComponentDescription))
            {
                <div class="col">
                    <GripDescriptionComponent></GripDescriptionComponent>
                </div>
            }
        </div>

        <div class="row shopFloorRow">
            @if (WorkOrder.Grip().ComponentSku != null)
            {
                <div class="col">
                    <ZoomableImage Sku="@WorkOrder.Grip().ComponentSku" ComponentType="grip" SiteAbbreviation="@_configuration["SITE_ABBREVIATION"]"></ZoomableImage>
                </div>
            }
        </div>




    }






}