﻿<style>
    #zoomableImageContainer {
        height: 95%;
        width: 95%;
        top: 2%;
        left: 2%;
        position: fixed; 
        background-color: rgba(35, 33, 33, 0.74);
        z-index: 5000;
        align-content:center;
        align-items:center; 
    }

    .limitImageSize {
        max-height: 150px;
        width: auto;
        max-width: 500px;
        height: auto;
    }
</style>

@if (isOpen)
{ 
    <div id="zoomableImageContainer" class="roundCorners @(isOpen ? "scale-in-center" : "scale-out-center")" @onclick="@ToggleWindow">
        <img class="centeredOnScreen" src="@imagePathViewModel?.image"/>
    </div>
} 
else
{
    <div @onclick="@ToggleWindow">
        <img src="@imagePathViewModel?.image" class="limitImageSize"/>
    </div>
}