@layout ShopFloorSingleOrder;
@page "/shopfloor/AcrylicGluing/{stationId}"
@using WebUI.Components;

<CascadingValue Value="Station" Name="Station">
    <CascadingValue Value="WorkOrder" Name="WorkOrder">
        <CascadingValue Value="User" Name="User">
            <AcrylicGluingComponent></AcrylicGluingComponent>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
 