@page "/ShopFloor/AlignmentCuring/{stationId:int}"
@layout ShopFloor;
@inject IWebHostEnvironment _env
@inject IJSRuntime JSRuntime
@inject ILogger<AlignmentCuring> _logger
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Toolbelt.Blazor.I18nText.I18nText _localizer;


@using Microsoft.Extensions.Localization;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Logging; 
@using Microsoft.AspNetCore.Components;
@using System.Net.Http;
@using System.Threading.Tasks;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Threading;
@using Api.Infrastructure.Extensions

<div class="d-flex" style="margin-top:-35px;">
    <div class="p-2 stationDescription">
        <h2>
            @L.AlignmentCuring - @thisStation?.Cell?.Site?.Desc -  @thisStation?.Cell?.Desc
        </h2>
        @*<p>@DateTime.Now, @DateTime.UtcNow</p>*@
        @*@if (currentWorkOrder != null && !isLoading)
            {
                <h2>@currentWorkOrder.WorkOrder</h2>
            }*@
    </div>
    <div class="ml-auto p-2">
        <h1><input type="text" id="woInput" @bind-value="@workOrderId" style="color:white;border:1px solid white;background-color:transparent;padding:3px;" placeholder="" autofocus /></h1>
        <p>Queue: @thisStation?.Cell?.Queue?.Sum(_ => _.ClubCount) @L.clubs, @thisStation?.Cell?.Queue?.Select(_ => _.WO).Distinct().Count() @L.orders,  @thisStation?.Cell?.Queue?.Select(_ => _.ShipmentId).Distinct().Count() @L.shipments</p>

        @*<p>Next Order: @thisStation?.Cell?.Queue?.OrderBy(_ => _.AssemblySequence).Take(1).FirstOrDefault()?.WO</p>*@
        @*<div class="text-center holdButton">
                <i class="fas fa-pause-circle fa-2x ripple"></i>
                <h6 style="margin-top:7px;" class="ripple">Hold</h6>
            </div>
            <div class="text-center defectButton">
                <i class="fas fa-unlink fa-2x ripple"></i>
                <h6 style="margin-top:7px;" class="ripple">Defect</h6>
            </div>
            <div class="text-center refreshButton">
                <i class="fas fa-sync-alt fa-3x ripple"></i>
                <h6 style="margin-top:7px;" class="ripple">Refresh</h6>
            </div>*@
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        @if (currentlyCuringOrders == null && !isLoading)
        {
            <h1 class="centeredOnScreen">@Message</h1>
        }

        @if (isLoading)
        {
            <h1 class="centeredOnScreen">@L.Loading</h1>
        }

        @if (currentlyCuringOrders != null && !isLoading)
        {
            @foreach (var order in currentlyCuringOrders)
            {
                @if (order.WorkOrder != null)
                {
                    <div class="row shopFloorRow">
                        <div class="col">
                            <h1>@order.WorkOrder.WorkOrder</h1>
                        </div>
                        <div class="col">
                            <h1>@((order.On.AddMinutes(30) - DateTime.Now).ToHumanReadable())</h1>
                            <h5>@L.TimeRemaining</h5>
                        </div>
                        <div class="col">
                            <h3>@order.WorkOrder.ClubName()</h3>
                            <h5>@L.ClubModel</h5>
                        </div>
                        <div class="col">
                            <h1>
                                @if ((order.On.AddMinutes(30) - DateTime.Now).TotalSeconds >= 0)
                                {
                                    <text><span class="text-danger">@L.Curing</span></text>
                                }
                                else
                                {
                                    <text><span class="text-success">@L.Done</span></text>
                                }
                            </h1>
                            <h5>Status</h5>
                        </div>
                        @if (!String.IsNullOrEmpty(order.WorkOrder.ClubCount().ToString()))
                        {
                            <div class="col">
                                <h3>@order.WorkOrder.ClubCount()</h3>
                                <h5>@L.ClubCount</h5>
                            </div>
                        }
                        @if (!String.IsNullOrEmpty(order.WorkOrder.GetGripLogoOrientation()))
                        {
                            <div class="col">
                                <h3>@order.WorkOrder.GetGripLogoOrientation()</h3>
                                <h5>@L.LogoOrientation</h5>
                            </div>
                        }
                    </div>
                }
            }
        }
    </div>
</div>



@code {

    protected WoOrder currentWorkOrder;
    public bool isLoading = false;
    public HttpClient HttpClient;
    string Message;
    public Timer ForceFocusTimer;
    public Timer AutoUpdateTimer;
    public UserViewModel CurrentUser;
    private string _workOrderId;
    List<CuringViewModel> currentlyCuringOrders = new List<CuringViewModel>();
    [Parameter] public int stationId { get; set; }
    public Station thisStation { get; set; }
    public I18nText.Resources L { get; set; } = new I18nText.Resources();

    public string workOrderId
    {
        get => _workOrderId;
        set
        {
            _workOrderId = value;
            //intercept change event (for barcode scanning)
            if (_workOrderId?.Length > 1) GetWorkOrder();
        }
    }

    public List<string> imageFilePaths;

    protected override async Task OnInitializedAsync()
    {
        HttpClient = new HttpClient
        {
            BaseAddress = new System.Uri("http://restfulapi")
        };

        var path = _env.ContentRootPath;
        var contentRoot = _env.ContentRootPath;
        imageFilePaths = Directory.GetFiles($@"{path}/wwwroot/img", "*.*", SearchOption.AllDirectories).ToList();

        thisStation = await HttpClient.GetJsonAsync<Station>($"api/station/{stationId}");

        ForceFocusTimer = new Timer((_) =>
        {
            JSRuntime.InvokeAsync<object>("RefocusWOInput");
        }, null, 0, 1000);

        //refresh every 10 seconds
        AutoUpdateTimer = new Timer(async (_) =>
        {
            await AutoUpdate();

        }, null, 0, 5000);

        L = await _localizer.GetTextTableAsync<I18nText.Resources>(this);
        Message = L.AlignmentCuringWelcomeMessage;
    }

    protected async Task AutoUpdate()
    {
        @if (CurrentUser != null)
        {
            var request = new ScannedFromShopFloorViewModel
            {
                ThisStation = thisStation,
                ScannedWO = workOrderId,
                Message = "",
                UserId = CurrentUser.Name,
            };

            currentlyCuringOrders = await HttpClient.PostJsonAsync<List<CuringViewModel>>($"api/station/curing", request);
            InvokeAsync(StateHasChanged);
        }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        CurrentUser = await localStorage.GetItemAsync<UserViewModel>("currentUser");
        //  await AutoUpdate();
    }


    protected async void GetWorkOrder()
    {
        currentWorkOrder = null;
        var request = new ScannedFromShopFloorViewModel
        {
            ThisStation = thisStation,
            ScannedWO = workOrderId.ToUpper(),
            Message = "",
            UserId = CurrentUser.Name,
        };

        ToShopFloorViewModel result = new ToShopFloorViewModel();

        try
        {
            if (workOrderId.ToUpper().StartsWith("WO"))
            {
                result = await HttpClient.PostJsonAsync<ToShopFloorViewModel>($"api/order", request);
            }
            else
            {
                //shipment
                result = await HttpClient.PostJsonAsync<ToShopFloorViewModel>($"api/shipment", request);

            }

            workOrderId = null;
            isLoading = true;
        }
        catch (Exception ex)
        {
            _logger.LogError($"Scan Error: {ex.ToString()}");
            currentWorkOrder = null;
            workOrderId = null;
            Message = L.ErrorScanningOrder + $" ({ex?.InnerException?.ToString() ?? "Null error"})";
        }
        finally
        {
            workOrderId = null;
            isLoading = false;
            await AutoUpdate();
            StateHasChanged();
        }
    }
}