
@layout ShopFloorMultipleOrder;
@page "/shopfloor/Picking/{stationId}"
@using WebUI.Components;
@using Microsoft.AspNetCore.Components;
@using TMGA.Shared.ViewModels;

<CascadingValue Value="Station" Name="Station">
    <CascadingValue Value="WorkOrders" Name="WorkOrders">
        <CascadingValue Value="WorkOrder" Name="WorkOrder">
            <CascadingValue Value="User" Name="User">
                <PickingComponent></PickingComponent>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

@code {

    [Parameter] public string stationId { get; set; }

    [CascadingParameter(Name = "WorkOrders")] public List<WorkOrderViewModel> WorkOrders { get; set; }
    [CascadingParameter(Name = "WorkOrder")] public WorkOrderViewModel WorkOrder { get; set; }
    [CascadingParameter(Name = "Station")] public StationViewModel Station { get; set; }
    [CascadingParameter(Name = "User")] public UserViewModel User { get; set; }
}