@page "/ShopFloor/Picking/{stationId:int}"
@layout ShopFloor;
@inject IWebHostEnvironment _env
@inject IJSRuntime JSRuntime
@inject ILogger<Picking> _logger
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Toolbelt.Blazor.I18nText.I18nText _localizer;
@using Microsoft.Extensions.Localization;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Logging;
@using Microsoft.AspNetCore.Components;
@using System.Net.Http;
@using System.Threading.Tasks;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Threading;

 
<div class="d-flex" style="margin-top:-35px;">
    <div class="p-2 stationDescription">
        <h2>
            @L.Picking - @thisStation?.Cell?.Site?.Desc - @thisStation?.Cell?.Desc
        </h2>
        @if (currentWorkOrder != null && !isLoading)
        {
            <h2>@currentWorkOrder?.WorkOrder</h2>
        }
        else if (currentShipment != null)
        {
            <h2>
                @currentShipment.Select(_ => _.Shipment).FirstOrDefault()
            </h2>
        }
    </div>
    <div class="ml-auto p-2">
        <h1>
            <input type="text" id="woInput" @bind-value="@workOrderId" style="color:white;border:1px solid white;background-color:transparent;padding:3px;" placeholder="" autofocus />
        </h1>
        <p>Queue: @thisStation?.Cell?.Queue?.Sum(_ => _.ClubCount) @L.clubs, @thisStation?.Cell?.Queue?.Select(_ => _.WO).Distinct().Count() @L.orders,  @thisStation?.Cell?.Queue?.Select(_ => _.ShipmentId).Distinct().Count() @L.shipments</p>
        @*<p>Next Order: @thisStation?.Cell?.Queue?.OrderBy(_ => _.AssemblySequence).Take(1).FirstOrDefault()?.WO</p>*@
        @*<div class="text-center holdButton">
                <i class="fas fa-pause-circle fa-2x ripple"></i>
                <h6 style="margin-top:7px;" class="ripple">Hold</h6>
            </div>
            <div class="text-center defectButton">
                <i class="fas fa-unlink fa-2x ripple"></i>
                <h6 style="margin-top:7px;" class="ripple">Defect</h6>
            </div>
            <div class="text-center refreshButton">
                <i class="fas fa-sync-alt fa-3x ripple"></i>
                <h6 style="margin-top:7px;" class="ripple">Refresh</h6>
            </div>*@
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        @if (currentWorkOrder == null && !isLoading)
        {
            <h1 class="centeredOnScreen">@Message</h1>
        }
        @if (isLoading)
        {
            <h1 class="centeredOnScreen">@L.Loading</h1>
        }
        @if (currentWorkOrder != null && !isLoading && currentWorkOrder.SKUs.Any())
        {
            <div class="row shopFloorRow">
                <div class="col">
                    <h1>@L.Head</h1>
                    @foreach (var head in GetGrouped("HEAD"))
                    {
                        <h3>@head.Desc (@head.Quantity)</h3>
                    }
                </div>
                <div class="col">
                    <h1>@L.Shaft</h1>
                    @foreach (var shaft in GetGrouped("SHAFT"))
                    {
                        <h3> @shaft.Desc (@shaft.Quantity) </h3>
                    }
                    @if (GetShaftImagePath(currentWorkOrder.Shaft().ComponentSku) != null)
                    {
                        <div>
                            <img src="@GetShaftImagePath(currentWorkOrder.Shaft().ComponentSku)" />
                        </div>
                    }
                </div>
                <div class="col">
                    <h1>@L.Grip</h1>
                    @foreach (var grip in GetGrouped("GRIP"))
                    {
                        <h3>@grip.Desc (@grip.Quantity)</h3>
                    }
                    @if (GetGripImagePath(currentWorkOrder.Grip().ComponentSku) != null)
                    {
                        <div>
                            <img src="@GetGripImagePath(currentWorkOrder.Grip().ComponentSku)" />
                        </div>
                    }
                </div>
                @*<div class="col">
                        <h1>@currentWorkOrder.SKUs.Sum(sku => sku.SubSKUs.Sum(subSku => subSku.Components.Where(component => component.ComponentType == "HEAD").Sum(component => component.ComponentQty)))</h1>
                        <h5>@L.Quantity</h5>
                    </div>*@
                @*<div class="col">
                        @if (GetShaftImagePath(currentWorkOrder.Shaft().ComponentSku) != null)
                        {
                            <img src="@GetShaftImagePath(currentWorkOrder.Shaft().ComponentSku)" />
                        }
                    </div>*@
                @*<div class="col">
                        <h1>@currentWorkOrder.Shaft().ComponentDescription</h1>
                        <h5>@L.ShaftType</h5>
                    </div>
                    <div class="col">
                        <h1>@currentWorkOrder.SKUs.Sum(sku => sku.SubSKUs.Sum(subSku => subSku.Components.Where(component => component.ComponentType == "SHAFT").Sum(component => component.ComponentQty)))</h1>
                        <h5>@L.Quantity</h5>
                    </div>*@
                @*<div class="col">
                        @if (GetGripImagePath(currentWorkOrder.Grip().ComponentSku) != null)
                        {
                            <img src="@GetGripImagePath(currentWorkOrder.Grip().ComponentSku)" />
                        }
                    </div>
                    <div class="col">
                        <h1>@currentWorkOrder.Grip().ComponentDescription</h1>
                        <h5>@L.Grip</h5>
                    </div>
                    <div class="col">
                        <h1>@currentWorkOrder.SKUs.Sum(sku => sku.SubSKUs.Sum(subSku => subSku.Components.Where(component => component.ComponentType == "GRIP").Sum(component => component.ComponentQty)))</h1>
                        <h5>@L.Quantity</h5>
                    </div>*@
            </div>
        }
        @if (currentShipment != null && currentShipment.Count() > 0 && !isLoading)
        {
            <div class="row shopFloorRow">
                <div class="col">
                    <h1>@L.Head</h1>
                    @foreach (var head in GetGroupedEntireShipment("HEAD"))
                    {
                        <h3>@head.Desc (@head.Quantity)</h3>
                    }
                </div>
                <div class="col">
                    <h1>@L.Shaft</h1>
                    @foreach (var shaft in GetGroupedEntireShipment("SHAFT"))
                    {
                        <h3> @shaft.Desc (@shaft.Quantity) </h3>
                    }
                    @if (GetShaftImagePath(currentShipment?.First()?.Shaft()?.ComponentSku) != null)
                    {
                        <div>
                            <img src="@GetShaftImagePath(currentShipment?.First()?.Shaft()?.ComponentSku)" />
                        </div>
                    }
                </div>
                <div class="col">
                    <h1>@L.Grip</h1>
                    @foreach (var grip in GetGroupedEntireShipment("GRIP"))
                    {
                        <h3>@grip.Desc (@grip.Quantity)</h3>
                    }
                    @if (GetGripImagePath(currentShipment?.First()?.Grip()?.ComponentSku) != null)
                    {
                        <div>
                            <img src="@GetGripImagePath(currentShipment?.First()?.Grip()?.ComponentSku)" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div> 
@if (currentWorkOrder != null && !isLoading && currentWorkOrder.SKUs.Any())
{
    <div class="text-center doneButton" @onclick="@(() => Done())">
        <i class="fas fa-check-circle fa-5x dropShadowText text-success"></i>
        <h1 style="margin-top:7px;">@L.Done</h1>
    </div>
}
@code {
    public I18nText.Resources L { get; set; } = new I18nText.Resources();
    protected WoOrder currentWorkOrder;
    protected List<WoOrder> currentShipment;
    public bool isLoading = false;
    public HttpClient HttpClient;
    string Message = "Scan or type a work order to see picking details";
    public Timer ForceFocusTimer;
    public UserViewModel CurrentUser;
    private string _workOrderId;
    [Parameter]
    public int stationId { get; set; }
    public Station thisStation { get; set; }
    public string workOrderId
    {
        get => _workOrderId;
        set
        {
            _workOrderId = value;
            //intercept change event (for barcode scanning)
            if (_workOrderId?.Length > 1) GetWorkOrder();
        }
    }
    public List<string> imageFilePaths;
    protected override async Task OnInitializedAsync()
    {
        HttpClient = new HttpClient
        {
            BaseAddress = new System.Uri("http://restfulapi")
        };
        var path = _env.ContentRootPath;
        var contentRoot = _env.ContentRootPath;
        imageFilePaths = Directory.GetFiles($@"{path}/wwwroot/img", "*.*", SearchOption.AllDirectories).ToList();
        thisStation = await HttpClient.GetJsonAsync<Station>($"api/station/{stationId}");
        ForceFocusTimer = new Timer((_) => { JSRuntime.InvokeAsync<object>("RefocusWOInput"); }, null, 0, 1000);
        L = await _localizer.GetTextTableAsync<I18nText.Resources>(this);
        Message = L.PickingWelcomeMessage;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        CurrentUser = await localStorage.GetItemAsync<UserViewModel>("currentUser");
    }
    protected string GetGripImagePath(string sku)
    {
        if (currentShipment == null)
        {
            return imageFilePaths.Where(_ => _.Contains(currentWorkOrder.Grip().ComponentSku)).FirstOrDefault()?.Split("wwwroot")[1]; //trim everything up to and including wwwroot
        }
        else
        {
            return imageFilePaths.Where(_ => _.Contains(currentShipment.First().Grip().ComponentSku)).FirstOrDefault()?.Split("wwwroot")[1];
        }
    }
    protected List<PickingViewModel> GetGrouped(string criteria)
    {
        var a = currentWorkOrder.SKUs.SelectMany(sku =>
        sku.SubSKUs.SelectMany(subSku =>
            subSku.Components.Where(component =>
                component.ComponentType == criteria).ToList()));
        return a.GroupBy(component => component.ComponentSku).Select(grp => new PickingViewModel { Sku = grp.Key, Desc = grp.First().ComponentDescription, Quantity = grp.Sum(cc => cc.ComponentQty) }).ToList();
    }
    protected List<PickingViewModel> GetGroupedEntireShipment(string criteria)
    {
        var a = currentShipment.SelectMany(wo => wo.SKUs.SelectMany(sku =>
        sku.SubSKUs.SelectMany(subSku =>
            subSku.Components.Where(component =>
                component.ComponentType == criteria).ToList())));
        return a.GroupBy(component => component.ComponentSku).Select(grp => new PickingViewModel { Desc = grp.First().ComponentDescription, Quantity = grp.Sum(cc => cc.ComponentQty) }).ToList();
    }
    public class PickingViewModel
    {
        public string Desc { get; set; }
        public double? Quantity { get; set; }
        public string Sku { get; set; }
    }
    protected string GetShaftImagePath(string sku)
    {
        if (currentShipment == null)
        {
            return imageFilePaths.Where(_ => _.Contains(currentWorkOrder.Shaft().ComponentSku)).FirstOrDefault()?.Split("wwwroot")[1]; //trim everything up to and including wwwroot
        }
        else
        {
            return imageFilePaths.Where(_ => _.Contains(currentShipment.First().Shaft().ComponentSku)).FirstOrDefault()?.Split("wwwroot")[1];
        }
    }
    protected async void GetWorkOrder()
    {
        currentWorkOrder = null;
        currentShipment = null;
        var request = new ScannedFromShopFloorViewModel
        {
            ThisStation = thisStation,
            ScannedWO = workOrderId,
            Message = "",
            UserId = CurrentUser.Name,
        };
        workOrderId = null;
        isLoading = true;
        //WO or shipment?
        if (request.ScannedWO.Length > 11 || !request.ScannedWO.ToUpper().StartsWith("WO"))
        {
            //shipment
            try
            {
                var result = await HttpClient.PostJsonAsync<List<ToShopFloorViewModel>>($"api/shipment", request);
                currentShipment = result.Select(_ => _.WorkOrder).ToList();
                if (currentShipment.Count() == 0)
                {
                    currentShipment = null;
                    workOrderId = null;
                    Message = L.ErrorScanningOrder;
                }
                else
                {
                    Message = "";
                }
            }
            catch (Exception ex)
            {
                _logger.LogError($"Scan Error: {ex.ToString()}");
                currentWorkOrder = null;
                workOrderId = null;
                Message = L.ErrorScanningOrder + $" ({ex?.InnerException?.ToString() ?? "Null error"})";
            }
            finally
            {
                currentWorkOrder = null;
                workOrderId = null;
                isLoading = false;
                StateHasChanged();
            }
        }
        else
        {
            //workorder
            try
            {
                var result = await HttpClient.PostJsonAsync<ToShopFloorViewModel>($"api/order", request);
                if (result.IsAlreadyCompleted)
                {
                    Message = L.AlreadyCompletedThisWorkOrder;
                }
                else if (result.IsOpenOnAnotherStation)
                {
                    Message = $"This order is open in {result.CurrentStation.Cell.Desc} - {result.CurrentStation.StationTypeTemp}";
                }
                else
                {
                    currentWorkOrder = result.WorkOrder;
                }
            }
            catch (Exception ex)
            {
                _logger.LogError($"Scan Error: {ex.ToString()}");
                currentWorkOrder = null;
                workOrderId = null;
                Message = L.ErrorScanningOrder + $" ({ex?.InnerException?.ToString() ?? "Null error"})";
            }
            finally
            {
                workOrderId = null;
                isLoading = false;
                StateHasChanged();
            }
        }
    }
    public async Task Done()
    {
        try
        {
            var doneObj = new StationDoneViewModel
            {
                WO = currentWorkOrder.WorkOrder,
                ShipmentId = currentWorkOrder.Shipment,
                Station = thisStation,
                UserId = CurrentUser.Name
            };
            var result = await HttpClient.PostJsonAsync<ToShopFloorViewModel>($"api/station/done", doneObj);
            currentWorkOrder = null;
            workOrderId = null;
            if (result.IsNotInQueue)
            {
                Message = L.OrderNotInQueue;
            }
            else
            {
                Message = L.PickingWelcomeMessage;
            }
        }
        catch (Exception ex)
        {
            Message = L.UnknownErrorWritingToQueue;
            _logger.LogError(ex.ToString());
        }
        finally
        {
            thisStation = await HttpClient.GetJsonAsync<Station>($"api/station/{stationId}");
        }
    }
}
