@page "/GlobalOversight"
@inherits GlobalOversightBase 
@using Microsoft.Extensions.Localization; 
@using TMGA.Domain.Models.Engine
@using TMGA.Shared.ViewModels;

<style>
    .list-group-item {
        background: none;
        line-height: 10px;
        border: none;
    }
</style>

<div class="row text-center" style="margin-top:40px;">
    <div class="col">
        <h2>@_localizer.GlobalOversight</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-5 roundCorners transparentBlue boxshadow glossy" style="z-index:10;">
        <h4>@_localizer.Sites</h4>
        <hr style="background-color:white;" />

        @if (Sites == null)
        {
            <p>@_localizer.Initializing</p>
        }
        else
        {
            @foreach (var site in Sites.Where(x => x.Id == SelectedSiteId) ?? Enumerable.Empty<Site>())  
            {
                <div class="row">
                    <div class="col">
                        <h5>@_localizer[site.Desc]</h5>
                    </div>
                    @*<div class="col">
                            @if (!TijuanaActive)
                            {
                                <span><i class="fas fa-play-circle text-success" @onclick="@ToggleTijuanaActive"></i> Stopped</span>
                            }
                            else
                            {
                                <span>
                                    <i class="far fa-stop-circle text-danger" @onclick="@ToggleTijuanaActive"></i> Running
                                </span>
                            }
                        </div>*@
                </div>

                if (site.Cells.Any())
                {
                    @foreach (var cell in site.Cells ?? Enumerable.Empty<Cell>())
                    {
                        <div class="row text-left cells_@site.Id">
                            <div class="col-sm-4">
                                <h5>@_localizer[cell.Desc.Replace("/", "").Replace(" ", "").Trim()]</h5>
                                @*<h5> <button @onclick="@(() => LoadCellConfigAndStatus(cell.Id))" class="btn btn-xs btn-primary-outline text-light @(SelectedCellId == cell.Id ? "SelectedCell" : "")">@cell.Desc</button></h5>*@
                            </div>
                            @*<div class="col-sm-6">
                                <h5>
                                    <span class="badge badge-dark">@cell.Queue?.Sum(_ => _.ClubCount) clubs queued </span>
                                    <span class="badge badge-dark">@cell.Queue?.Select(_ => _.WO).Distinct().Count() orders</span>
                                    <span class="badge badge-dark"> @cell.Queue?.Select(_ => _.ShipmentId).Distinct().Count() shipments</span>
                                </h5>
                            </div>*@
                            <div class="col-sm-8">

                                @if (cell.IsLoading)
                                {
                                    <i class="fa fa-spinner fa-w-16 fa-spin"></i>
                                }
                                else
                                { 
                                    <h5 class="d-inline"><button class="btn btn-sm badge badge-light m-1 p-1" @onclick="@(() => ToggleCustom(cell))" title="Click to switch between Stock and Custom">@_localizer[cell.CellType]</button></h5>
                                }


                                @if (cell.IsLoading)
                                {
                                    <i class="fa fa-spinner fa-w-16 fa-spin"></i>
                                }
                                else
                                {
                                    @if (cell.IsActive)
                                    {
                                        <h5 class="d-inline"><button class="btn btn-sm badge badge-light m-1 p-1" @onclick="@(() => ToggleCell(cell))" title="@cell.Desc @_localizer.IsActiveClickToDeactivate">@_localizer.Active</button></h5>
                                    }
                                    else
                                    {
                                        <h5 class="d-inline"><button class="btn btn-sm badge badge-dark m-1 p-1" @onclick="@(() => ToggleCell(cell))" title="@cell.Desc @_localizer.IsInactiveClickToActivate">@_localizer.Inactive</button></h5>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col">
                            No lines configured for @site.Desc
                        </div>
                    </div>
                }
            }
        }

        @*<div class="activeGlowDot" style="z-index:1;position:absolute;right:500px;top:500px;"></div>*@
    </div>

    @*<div class="col roundCorners transparentBlue boxshadow glossy">
            <h4>Cell Configuration</h4>
            <hr style="background-color:white;" />

            <div class="row">
                <div class="col">

                    <h5>Tijuana - @SelectedCell?.Desc</h5>
                    <p>Stations</p>
                    @if (SelectedCell.Stations != null && SelectedCell.Stations.Any())
                    {
                        <ul class="list-group">
                            @foreach (var station in SelectedCell.Stations.OrderBy(_ => _.StationOrder) ?? Enumerable.Empty<Station>())
                            {
                                <li class="list-group-item">

                                    @if (CurrentStationIdCell1 == station.Id)
                                    {
                                        <strong>@station.StationTypeTemp</strong>

                                        if (GettingNextOrder)
                                        {
                                            <span class="badge badge-light">Retrieving next order...</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-light">Processing @CurrentOrderCell1.WorkOrderHeaderId </span>
                                            if (CurrentOrderCell1.IsUrgent)
                                            {
                                                <span class="badge badge-danger">Urgent</span>
                                            }
                                        }

                                        <button class="btn btn-xs btn-outline-primary p-0 border-0" @onclick="@(() => AdvanceCell(SelectedCell.Id))"><i class="fas fa-arrow-right"></i></button>
                                    }
                                    else
                                    {
                                        @station.StationTypeTemp

                                    }
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No stations configured for @SelectedCell.Desc</p>
                    }
                </div>
            </div>
        </div>*@

    @*<div class="col roundCorners transparentBlue boxshadow glossy">
            @if (SelectedCell != null)
            {
                <h4>Cell Status</h4>
                <p> Clubs in queue: @SelectedCell?.Queue?.Sum(_ => _.ClubCount)</p>
                <p> Orders in queue: @SelectedCell?.Queue?.Select(_ => _.WO).Distinct().Count()</p>
                <p> Shipments in queue: @SelectedCell?.Queue?.Select(_ => _.ShipmentId).Distinct().Count()</p>
            }
        </div>*@
</div>