﻿@page "/Admin"
@using WebUI.Models;
@inherits IndexBase
@inject IConfiguration _configuration;

@using Microsoft.Extensions.Configuration;
@using Microsoft.Extensions.Localization;
@using WebUI.Extensions
@using TMGA.Domain.Models.Intercept
@using TMGA.Shared.ViewModels;
@using WebUI.Extensions;

<style>
    .roundCorners {
        /*overrides*/
        padding: 10px;
        width: 125px;
        height: 125px;
        max-width: 125px;
        max-height: 125px;
        min-width: 125px;
        min-height: 125px;
    }
</style>

<div class="row">
    <div class="col">
        @*<h3>Wave: @WaveId</h3>
            <hr />*@
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="row text-left">
            <div class="col">
                <h4>
                    @_localizer.AvailableWaves

                    @if (ShowCustomWaves == true)
                    {

                        <button class="btn btn-lg text-white btn-primary p-1 m-1" @onclick="@(() => SwitchToCustomView())"> @_localizer.Custom</button>
                        <button class="btn btn-lg text-white p-1 m-1" @onclick="@(() => SwitchToStockView())"> @_localizer.Stock</button>
                        <button class="btn btn-lg text-white p-1 m-1" title="@_localizer.RefreshWaves"><i class="fa fa-sync" @onclick="@(() => RefreshCustomWaves())"> </i></button>
                    }
                    else
                    {
                        <button class="btn btn-lg text-white p-1 m-1" @onclick="@(() => SwitchToCustomView())"> @_localizer.Custom</button>
                        <button class="btn btn-lg text-white btn-primary p-1 m-1" @onclick="@(() => SwitchToStockView())"> @_localizer.Stock</button>
                        <button class="btn btn-lg text-white p-1 m-1" title="@_localizer.RefreshWaves"><i class="fa fa-sync" @onclick="@(() => RefreshStockWaves())"> </i></button>
                    }
                </h4>
                <hr />
            </div>
        </div>


        @*//Custom Wave Display*@
        @if (ShowStockWaves == false && ShowCustomWaves == true)
        {
            @if (CustomWaves != null)
            {
                if (CustomWaves.Count() == 0)
                {
                    <h3>@_localizer["NoCustomWavesAvailable"]</h3>
                }

                @foreach (var wave in CustomWaves)
                {
                    <div class="row">
                        <div class="col-12 text-left panel">
                            @*<h4 style="display:inline;"><a href="/Admin" @onclick="@(() => GetWaveDetails(wave.WaveId))">@wave.WaveId</a></h4>*@

                            @if (wave.IsInFocus)
                            {
                                <h3 style="display:inline;"><strong>@wave.WaveId</strong><span class="badge">@(wave.AllWorkOrdersCount == 1 ? $"{wave.AllWorkOrdersCount + _localizer.Order}" : $"{wave.AllWorkOrdersCount + _localizer.orders}")</span></h3>
                            }
                            else
                            {
                                @if (wave.IsReleased)
                                {
                                    <h4 style="display:inline;color:mediumspringgreen"><strong>@wave.WaveId</strong><span class="badge">@(wave.AllWorkOrdersCount == 1 ? $"{wave.AllWorkOrdersCount + _localizer.Order}" : $"{wave.AllWorkOrdersCount + _localizer.orders}")</span></h4>
                                }
                                else
                                {
                                    <h4 style="display:inline;">@wave.WaveId <span class="badge">@(wave.AllWorkOrdersCount == 1 ? $"{wave.AllWorkOrdersCount + _localizer.Order}" : $"{wave.AllWorkOrdersCount + _localizer.orders}")</span></h4>
                                }
                            }
                            @*<h5>
                                    <span class="badge badge-dark badge-"> @wave.Warehouse</span>
                                        <span class="badge badge-dark"> @wave.AllWorkOrders.Count() @_localizer["total orders"] </span>
                                        <span class="badge badge-dark"> @wave.IncompleteOrders.Count() @_localizer["orders in queue"]</span>
                                        <span class="badge badge-dark">@wave.AllWorkOrders.Sum(_ => _.ClubCount()) @_localizer["total clubs"] </span>
                                        <span class="badge badge-dark">@wave.IncompleteOrders.Sum(_ => _.ClubCount()) @_localizer["clubs in queue"]</span

                                </h5>*@
                            <h5 style="margin-bottom:15px;">
                                @if (wave.IsReleased)
                                {
                                    <span><a href="/Admin" @onclick="@(() => GetCustomWavePlan(wave.WaveId))">@_localizer.ViewPlan</a>&nbsp;&nbsp;<a href="/Admin" @onclick="@(() => ForceWavePlan(wave.WaveId))">@_localizer.ForceRelease &nbsp;</a><span class="text-muted">@_localizer.ReleasedOn @wave.ReleasedOn.ToLocalTime()</span></span>
                                }
                                else
                                {
                                    <a href="/Admin" @onclick="@(() => GetCustomWavePlan(wave.WaveId))">@_localizer.ViewAndReleaseWavePlan</a>
                                }

                                @if (wave.IsReleasing)
                                {
                                    <i class="fa fa-spinner fa-w-16 fa-spin fa-lg"></i>
                                }
                            </h5>
                        </div>
                    </div>
                }

            }
            else
            {
                //CustomWaves == null
                <i class="fa fa-spinner fa-w-16 fa-spin fa-3x" style="margin-top:75px;"></i>
            }
        }

        @*//Stock Waves Display*@
        @if (ShowStockWaves == true && ShowCustomWaves == false)
        {
            @if (StockWaves != null)
            {
                if (StockWaves.Count() == 0)
                {
                    <h3>@_localizer.NoStockWavesAvailable</h3>
                }
                @foreach (var wave in StockWaves)
                {
                    <div class="row">
                        <div class="col-12 text-left panel">
                            @*<h4 style="display:inline;"><a href="/Admin" @onclick="@(() => GetWaveDetails(wave.WaveId))">@wave.WaveId</a></h4>*@
                            <div class="row">

                                <div class="col">

                                    @if (wave.IsInFocus)
                                    {
                                        <h3 style="display:inline;"><strong>@wave.WaveId</strong><span class="badge">@(wave.AllWorkOrdersCount == 1 ? $"{wave.AllWorkOrdersCount + _localizer.Order}" : $"{wave.AllWorkOrdersCount + _localizer.orders}")</span></h3>
                                    }
                                    else
                                    {
                                        @if (wave.IsReleased)
                                        {
                                            <h4 style="display:inline;color:mediumspringgreen"><strong>@wave.WaveId</strong><span class="badge">@(wave.AllWorkOrdersCount == 1 ? $"{wave.AllWorkOrdersCount + _localizer.Order}" : $"{wave.AllWorkOrdersCount + _localizer.orders}")</span></h4>
                                        }
                                        else
                                        {
                                            <h4 style="display:inline;">@wave.WaveId <span class="badge">@(wave.AllWorkOrdersCount == 1 ? $"{wave.AllWorkOrdersCount + _localizer.Order}" : $"{wave.AllWorkOrdersCount + _localizer.orders}")</span></h4>
                                        }
                                    }


                                    <h5 style="margin-bottom:15px;">
                                        @if (wave.IsReleased)
                                        {
                                            <span><a href="/Admin" @onclick="@(() => GetStockWavePlan(wave.WaveId))">@_localizer.ViewPlan</a>&nbsp;&nbsp;<a href="/Admin" @onclick="@(() => ForceWavePlan(wave.WaveId))">@_localizer.ForceRelease &nbsp;</a><span class="text-muted">@_localizer.ReleasedOn @wave.ReleasedOn.ToLocalTime()</span></span>
                                        }
                                        else
                                        {
                                            <a href="/Admin" @onclick="@(() => GetStockWavePlan(wave.WaveId))">@_localizer.ViewAndReleaseWavePlan</a>
                                        }

                                        @if (wave.IsReleasing)
                                        {
                                            <i class="fa fa-spinner fa-w-16 fa-spin fa-lg"></i>
                                        }
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
            else

            {
                <i class="fa fa-spinner fa-w-16 fa-spin fa-3x" style="margin-top:75px;"></i>
            }
        }

    </div>

    @if (ShowWavePlan)
    {
        <div class="col-lg-6">
            <div class="row">
                <div class="col text-left">
                    <h4>@_localizer.CapacityPlan - @WaveId</h4>
                </div>
                <div class="col d-flex justify-content-end">
                    @if (Printers != null)
                    {
                        <select class="form-control form-control-sm" @bind="selectedPrinter" style="width:175px;margin-right:0px !important;">
                            <option value="">
                                @_localizer.SelectPrinter...
                            </option>
                            @foreach (var printer in Printers)
                            {
                                <option value="@printer.Id">@printer.Desc</option>

                            }
                        </select>
                    }

                    @if (selectedPrinter != $"{_localizer["Select Printer"]}...")
                    {
                        <a href="/Admin" class="button btn-sm m-1" @onclick="@(() => PrintAll())">@_localizer.PrintAll</a>
                    }

                </div>
            </div>
            <div class="row">
                <div class="col">
                    @if (WavePlan != null)
                    {
                        <h6>
                            @_localizer.WaveStatus : @_localizer[WavePlan.WavePlanStatus.GetDisplayName()]
                        </h6>
                        <table class="table table-bordered table-dark table-sm" style="max-height:1200px;overflow-y:scroll">
                            <thead>
                                <tr>
                                    <th>
                                        @_localizer.Shipment
                                    </th>
                                    <th>@_localizer.orders</th>
                                    <th>@_localizer.ClubCount</th>
                                    <th>@_localizer.Line</th>
                                    @*<th>Reason</th>*@
                                    <th>@_localizer.Printed</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var shipment in WavePlan.CellQueues.GroupBy(_ => _.ShipmentId))
                                {
                                    <tr>
                                        <td>
                                            <a href="/Admin" @onclick="@(() => PrintPickList(shipment.FirstOrDefault()))">
                                                @shipment.Key

                                                @if (WavePlan.CellQueues.Where(_ => _.ShipmentId == shipment.Key).First().IsSleeveOrder == true)
                                                {
                                                    <span class="badge badge-dark">Sleeve</span>
                                                }
                                            </a>
                                            @*}*@

                                            @if (shipment.Any(_ => _.IsGeneratingPicklist))
                                            {
                                                <i class="fa fa-spinner fa-w-16 fa-spin fa-lg"></i>
                                            }
                                        </td>
                                        <td>@WavePlan.CellQueues.Count(_ => _.ShipmentId == shipment.Key)</td>
                                        <td>@WavePlan.CellQueues.Where(_ => _.ShipmentId == shipment.Key).Sum(_ => _.ClubCount)</td>
                                        <td>@shipment.Select(_ => _.Cell).FirstOrDefault()?.Desc</td>
                                        @*<td>@shipment.Select(_ => _.ReasonCode).FirstOrDefault()</td>*@
                                        <td>
                                            @if (shipment.Any(_ => _.IsPrinted))
                                            {
                                                <a href="/Admin" @onclick="@(() => PrintPickList(shipment.FirstOrDefault()))">@_localizer.Reprint</a>
                                            }
                                            else
                                            {
                                                <span>@_localizer.No</span>
                                            }
                                        </td>
                                    </tr>
                                }
                                @* totals *@
                                <tr class="font-weight-bold">
                                    <td>@_localizer.Totals</td>
                                    <td>@WavePlan.CellQueues.Count()</td>
                                    <td>@WavePlan.CellQueues.Sum(_ => _.ClubCount)</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="text-center">
                            <i>@_localizer.Loading...</i>
                        </div>
                    }
                </div>
            </div>
        </div>

    }
</div>
