﻿@page "/"
@layout Shared.Clean;
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IConfiguration _configuration;
@inject Toolbelt.Blazor.I18nText.I18nText _localizer;

@using System.Threading.Tasks;
@using System.Threading;
@using System;
@using System.Net.Http;
@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Components;
@using Microsoft.Extensions.Localization;
@using Microsoft.JSInterop;
@using WebUI.Extensions;
@using TMGA.Shared.ViewModels;

<div class="row">
    <div class="col centeredOnScreen text-center" style="margin-top:-150px;">
        <h1 style="font-size:60px;">@L.Welcome</h1>

        @if (serverStatusViewModel != null && serverStatusViewModel?.CoreDatabase != null)
        {
            <h4>
                @L[serverStatusViewModel.SiteDescription] -
                - @L[serverStatusViewModel.Environment]
            </h4>
        }
    </div>
</div>

<div class="row">

    @if (!IsLoggingIn)
    {
        <div class="col centeredOnScreen text-center" style="margin-top:-150px;">
            <input type="password" class="text-center" id="woInput" @bind-value="@userId"
                   style="font-size:55px;height:100px;width:500px;margin-top:220px;color:white;border:0px solid white;background-color:transparent;padding:5px;"
                   placeholder="@L.ScanBadge" autofocus />
        </div>
    }
    else
    {
        <div class="col centeredOnScreen text-center">
            <i class="fa fa-spinner fa-w-16 fa-spin fa-4x"></i>
        </div>
    }


</div>

<div class="row">

    @*<div class="col centeredOnScreen text-center" style="margin-top:-250px;">
            <a href="#"><i class="fas fa-person"></i>&nbsp;David</a>&nbsp;<a href="#">Jesus</a>&nbsp;<a href="#">Rossen</a>
        </div>*@
</div>

@code  {

    public HttpClient httpClient;

    public UserViewModel CurrentUser;

    public I18nText.Resources L { get; set; } = new I18nText.Resources();

    public System.Threading.Timer ForceFocusTimer;

    public ServerStatusViewModel serverStatusViewModel;

    public bool IsLoggingIn = false;

    //cant use @bind-value and @onchange at the same time .. this is the workaround
    private string _userId;

    public string userId
    {
        get => _userId;
        set
        {
            _userId = value;
            //intercept change event (for barcode scanning)
            if (_userId?.Length > 5) Task.Run(async () => await PerformLogin());
        }
    }

    protected override async Task OnInitializedAsync()
    {

        httpClient = new HttpClient
        {
            BaseAddress = new System.Uri("http://restfulapi")
        };

        ForceFocusTimer = new Timer((_) =>
        {
            JSRuntime.InvokeAsync<object>("RefocusWOInput");

        }, null, 0, 1000);

        L = await _localizer.GetTextTableAsync<I18nText.Resources>(this);

        await GetEnvironment();

        await base.OnInitializedAsync();
    }


    public async Task GetEnvironment()
    {
        serverStatusViewModel = new ServerStatusViewModel();
        serverStatusViewModel = await httpClient.GetJsonAsync<ServerStatusViewModel>($"api/site/status");
    }

    public async Task PerformLogin()
    {
        await ForceFocusTimer.DisposeAsync();

        var temp = userId; // state change hack for hiding bound <input>

        IsLoggingIn = true;

        var result = await httpClient.PostJsonAsync<UserViewModel>($"api/login", temp);
        CurrentUser = result;
        await localStorage.SetItemAsync("currentUser", CurrentUser);

        if (CurrentUser.Role == "Admin")
        {
            NavigationManager.NavigateTo("/Welcome");
        }

        else
        {
            NavigationManager.NavigateTo("/StationSelect");
        }

        StateHasChanged();
    }

    public void Logout()
    {
        CurrentUser = null;
        StateHasChanged();
    }
}
