﻿@page "/Search" 
@inherits SearchBase   
@using System.Linq;
@using WebUI.Extensions;

<div class="row">
    <div class="col">
        <h1>@L.SearchOrdersShipments</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1><input type="text" id="woInput" @bind-value="@workOrderId" style="color:white;border:1px solid white;background-color:transparent;padding:3px;margin:5px auto 15px auto;" placeholder="@L.WorkOrderShipmentId" autofocus /></h1>
        <hr />
    </div>
</div>

<div class="row" style="margin-top:25px;">
    <div class="col">
        @if (isLoading)
        {
            <div class="text-center"> <i class="fa fa-spinner fa-w-16 fa-spin fa-4x"></i></div>
        }

        @if (historyViewModel != null)
        {

            @foreach (var vm in historyViewModel)
            {

                @if (vm.Queue.Any() && !vm.StationHistory.Any())
                {
                    <h4>@vm.WO - @L.ThisOrderIsQueuedButNotScanned</h4>
                }

                @*@if (!vm.Queue.Any() && vm.StationHistory.Any())
                {
                    <h4>@vm.WO - @L.AlreadyCompletedThisWorkOrder</h4>
                }*@

                @if (!vm.Queue.Any() && !vm.StationHistory.Any())
                {
                    <h4>@vm.WO - @L.ThisOrderIsNotInTheQueueAndHasNeverBeenScanned</h4>
                }

                @if (vm.Queue.Any() && vm.StationHistory.Any())
                {
                    <h4>@vm.WO - @L.ThisOrderIsInProgress</h4>
                }

                @if (vm.StationHistory.Any())
                {
                    <hr />
                    <div class="text-right">
        <button class="btn btn-sm text-white p-1 m-1" title="@L.RefreshStatus"><i class="fa fa-sync" @onclick="@(() => Refresh(vm.WO))"> </i></button></div>
                    <table class="table table-bordered table-sm text-white tableVerticalCentered">
                        <thead>
                            <tr>
                                <th>
                                   @L.WorkOrder
                                </th>
                                <th>
                                    @L.Line
                                </th>
                                <th>
                                    @L.Station
                                </th>
                                <th>
                                    @L.Status
                                </th>
                                <th>
                                    @L.When
                                </th>
                                <th>
                                    @L.TimeAtStation
                                </th>
                                <th>
                                    @L.User
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var stationHistory in vm.StationHistory)
                            {
                            <tr>
                                <td>
                                    @stationHistory.WO
                                </td>

                                <td>
                                    @stationHistory.Station.Cell.Desc
                                </td>

                                <td>
                                    @stationHistory.Station.StationTypeTemp
                                </td>

                                <td>
                                    @(stationHistory.Result == "OK" ? "Completed" : stationHistory.Result)
                                </td>
                                <td>
                                    @{
                                        if (stationHistory.On != null)
                                        {
                                            TimeSpan ts = DateTime.Now - stationHistory.On;
                                            <text> @ts.ToHumanReadable() ago<br /><small>@stationHistory.On.ToLocalTime().ToString("MM/dd hh:mm tt")</small></text>
                                        }
                                    }

                                </td>
                                <td>
                                    @{
                                        var thisStationIsDone = stationHistory.Result != "Entered" && vm.StationHistory.Any(_ => _.Station.Id == stationHistory.StationId && _.Result == "Entered");
                                        var thisStationIsEnteredButNotDone = stationHistory.Result != "Done" && !vm.StationHistory.Any(_ => _.Station.Id == stationHistory.StationId && _.Result == "OK");

                                        if (stationHistory.Result == "Entered" && thisStationIsEnteredButNotDone)
                                        {
                                            <text><b>@L.CurrentlyActive</b></text>
                                        }
                                        if (stationHistory.Result == "Entered" && !thisStationIsEnteredButNotDone)
                                        {
                                            <text>-</text>
                                        }
                                        if (thisStationIsDone)
                                        {
                                            var enteredOn = vm.StationHistory.OrderByDescending(_ => _.On).Where(_ => _.Station.Id == stationHistory.StationId && _.Result == "Entered").Select(_ => _.On).Take(1).First();
                                            TimeSpan elapsedTimeAtStation = stationHistory.On - enteredOn;
                                            <text> @elapsedTimeAtStation.ToHumanReadable()  </text>
                                        }

                                    }
                                </td>
                                <td>
                                    @stationHistory.UserId
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }
            }
        }
    </div>
</div>


