﻿@page "/Site/{siteId:int}"
@inherits SiteConfigurationBase
@inject IWebHostEnvironment _env
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Components;
@using System.Net.Http;
@using System.Threading.Tasks;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Threading;

<div class="row" style="margin-top:75px;">
    <div class="col">
        <h1>Site Configuration</h1>
        <h3>Tijuana</h3>
    </div>
</div>

