﻿@page "/Status" 
@inherits StatusBase
 
@using Microsoft.Extensions.Localization; 

<div class="row text-left">
    <div class="col">
        @if (serverStatusViewModel != null)
        {
        <h4>Configuration</h4>
        <ul>
            <li>
                Site Description
                <ul>
                    <li> @serverStatusViewModel.SiteDescription</li>
                </ul>
            </li>
            <li>
                Site ID
                <ul>
                    <li> @serverStatusViewModel.SiteId</li>
                </ul>
            </li>
            <li>
                Environment
                <ul>
                    <li> @serverStatusViewModel.Environment</li>
                </ul>
            </li>
            <li>
                Assembly DB:
                <ul>
                    <li> @serverStatusViewModel.CoreDatabase on  @serverStatusViewModel.CoreServer</li>
                </ul>
            </li>
            <li>
                Intercept DB
                <ul>
                    <li>@serverStatusViewModel.InterceptDatabase on  @serverStatusViewModel.InterceptServer</li>
                </ul>
            </li>
            <li>
                Intercept Id
                <ul>
                    <li>@serverStatusViewModel.InterceptId</li>
                </ul>
            </li>
            <li>
                WMS
                <ul>
                    <li> @serverStatusViewModel.WmsServer</li>
                </ul>
            </li>
            <li>
                WMS Id
                <ul>
                    <li> @serverStatusViewModel.WmsId</li>
                </ul>
            </li>
            <li>
                Kiosk Mode
                <ul>
                    <li> @serverStatusViewModel.HoldOrDone</li>
                </ul>
            </li>
        </ul>
        <h4>Raw docker-compose env. variable dump</h4>
        <ul>
            @foreach (var config in _configuration.GetChildren())
            {
                <li>
                    @config.Key
                    <ul>
                        <li>  @config.Value</li>
                    </ul>
                </li>
            }  
        </ul>
        }
    </div>
</div> 