﻿@page "/StationSelect"
@layout Shared.Clean;
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@inject Toolbelt.Blazor.I18nText.I18nText _localizer;
@inject NavigationManager NavigationManager
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration;

@using System.Threading.Tasks;
@using System.Threading;
@using System;
@using TMGA.Shared.ViewModels;
@using System.Net.Http;

<style>
    .roundCorners {
        /*overrides*/
        padding: 10px; 
        width: 125px;
        height: 125px;
        max-width: 125px;
        max-height: 125px;
        min-width: 125px;
        min-height: 125px;
    }
</style>
<div class="row">
    <div class="col text-center">
        <h1 style="font-size:60px;">@L.StationSelect</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center centeredOnScreen" style="margin-top:-50px;">
        <div class="row" style="margin-bottom:20px;">
            <div class="col text-center" style="margin-top:-150px;">
                <input type="password" class="text-center" id="scannedStationInput" @bind-value="@scannedStationId"
                       style="font-size:55px;height:100px;width:500px;margin-top:220px;color:white;border:0px solid white;background-color:transparent;padding:5px;"
                       placeholder=@L.ScanStationCode autofocus />
            </div>
        </div>

        <div class="row" style="margin-bottom:20px;">
            <div class="col text-center">
                @if (msg == "Line is inactive")
                {
                    <h3 class="text-danger">@msg</h3>
                }
                else
                {
                    @msg
                }
            </div>
        </div>

        @if (Cells != null)
        {
            <select class="form-control" style="width:300px;font-size:30px;margin:0px auto" @onchange="@CellChanged">
                @foreach (var cell in Cells) // _companies is List<Company> Company object contain Id and name
                {
                    <option value="@cell.Id">@L[cell.Desc.Replace(" ", "").Trim()]</option>
                }
            </select>

            @if (CurrentCell != null && CurrentCell.Stations.Any())
            {
                <select class="form-control" style="width:300px;font-size:30px;margin:5px auto" @onchange="@StationChanged">

                    @foreach (var station in CurrentCell?.Stations.OrderBy(_ => _.StationOrder)) // _companies is List<Company> Company object contain Id and name
                    {
                        <option value="@station?.Id">@L[station?.StationTypeTemp.Replace("/", "").Replace(" ", "")]</option>
                    }
                </select>

                <a class="btn btn-primary btn-lg m-2 p-3" style="font-size:30px;" href="/ShopFloor/@CurrentStation?.StationTypeTemp.Replace(" ", "").Replace("/", "")/@CurrentStationId">@L.Launch</a>
                <br />
                <a class="btn btn-warning btn-lg m-2 p-3" style="font-size:30px;margin-top:100px;" href="/">@L.BackToLogin</a>

            }
        }
    </div>
</div>

@code  {

    public HttpClient httpClient;
    public UserViewModel CurrentUser;
    public List<CellViewModel> Cells;
    public string msg;
    public CellViewModel CurrentCell;
    public StationViewModel CurrentStation;

    private string _scannedStationId;
    public string scannedStationId
    {
        get => _scannedStationId;
        set
        {
            _scannedStationId = value;
            //intercept change event (for barcode scanning)
            if (_scannedStationId?.Length > 1) GoToStationAfterScan();
        }
    }
    public int CurrentCellId;
    public int CurrentStationId;
    public I18nText.Resources L { get; set; } = new I18nText.Resources();

    protected override async Task OnInitializedAsync()
    {
        httpClient = new HttpClient
        {
            BaseAddress = new System.Uri("http://restfulapi")
        };

        //
        L = await _localizer.GetTextTableAsync<I18nText.Resources>(this);

        msg = L.SelectBelow;
        Cells = await httpClient.GetJsonAsync<List<CellViewModel>>($"api/cell");
        Cells = Cells.Where(_ => _.IsActive && _.Site.Id == Convert.ToInt32(_configuration["SITE_ID"])).ToList();
        CurrentCellId = Cells.First().Id;
        CurrentStationId = Cells.First().Stations.OrderBy(_ => _.StationOrder).First().Id;
        CurrentCell = Cells.Where(_ => _.Id == CurrentCellId).FirstOrDefault();

        CurrentStation = CurrentCell.Stations.Where(_ => _.Id == CurrentStationId)
                   .Select(_ => new StationViewModel
                   {
                       Id = _.Id,
                       Cell = _.Cell,
                       StationTypeTemp = _.StationTypeTemp,
                       StationOrder = _.StationOrder,
                       CurrentOrder = _.CurrentOrder
                   }).FirstOrDefault();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeAsync<object>("RefocusScannedStationInput");
        }
    }


    public void CellChanged(ChangeEventArgs e)
    {
        CurrentCellId = Convert.ToInt32(e.Value);
        CurrentCell = Cells.Where(_ => _.Id == CurrentCellId).FirstOrDefault();
        CurrentStationId = CurrentCell.Stations?.OrderBy(_ => _.StationOrder).First().Id ?? 0;
    }

    public void StationChanged(ChangeEventArgs e)
    {
        CurrentStationId = Convert.ToInt32(e.Value);
        CurrentStation = CurrentCell.Stations.Where(_ => _.Id == CurrentStationId)
                  .Select(_ => new StationViewModel
                  {
                      Id = _.Id,
                      Cell = _.Cell,
                      StationTypeTemp = _.StationTypeTemp,
                      StationOrder = _.StationOrder,
                      CurrentOrder = _.CurrentOrder
                  }).FirstOrDefault();
    }

    public void GoToStationAfterScan()
    {
        msg = "";
        try
        {
            CurrentStationId = Convert.ToInt32(scannedStationId);
            CurrentCellId = Cells.FirstOrDefault(e => e.Stations.Any(a => a.Id == CurrentStationId)).Id;
            CurrentCell = Cells.Where(_ => _.Id == CurrentCellId).FirstOrDefault();

            CurrentStation = CurrentCell.Stations.Where(_ => _.Id == CurrentStationId)
                .Select(_ => new StationViewModel
                {
                    Id = _.Id,
                    Cell = _.Cell,
                    StationTypeTemp = _.StationTypeTemp,
                    StationOrder = _.StationOrder,
                    CurrentOrder = _.CurrentOrder
                }).FirstOrDefault();

            NavigationManager.NavigateTo($"/ShopFloor/{CurrentStation?.StationTypeTemp.Replace(" ", "").Replace("/", "")}/{CurrentStationId}");
        }
        catch
        {
            msg = "Line is inactive";
        }
        finally
        {
            scannedStationId = "";
            JSRuntime.InvokeAsync<object>("RefocusScannedStationInput");
        }
    }
}