﻿@page "/Welcome"
@inject Toolbelt.Blazor.I18nText.I18nText _localizer; 
@using Microsoft.Extensions.Localization;

<div class="row text-center centeredOnScreen">
    <div class="col">
        <h1>@L.Welcome!</h1>
    </div>
</div>

@code {

    public I18nText.Resources L { get; set; } = new I18nText.Resources(); 

    protected override async Task OnInitializedAsync()
    {
        L = await _localizer.GetTextTableAsync<I18nText.Resources>(this);
    }
}